{{define "page.title"}}ถอนเงิน{{end}}

{{define "app-body"}}
	<div class="container _mgt-0 _mgt-20-md">
		<div class="row" id="app">
			<div class="col-12 col-lg-8 offset-lg-2 _bgcl-white pd" style="padding-bottom: 80px;">
				<div class="row">
					<div class="col-12 col-md-10 offset-md-1">
						<div class="_bdrd-0 _bdrd-2px-md _bgcl-white _pdv-15 _pdv-32-md">
							<h1 class="fs-20 _cl-gray-11 _fw-700 _mgbt-10">ถอนเงิน</h1>
							<div class="_bdw-1 _bdcl-gray-2 _mgbt-24"></div>
							<div class="_dp-f _fdrt-cl _fdrt-r-lg">
								<div class="_w-100pct">
									<form ref="formAccount" action="{{route "withdraw.money"}}" method="POST" autocomplete="off">


										<div class="form-row">
											<div class="form-group col-6 _tal-ct" style="  border-right: 3px solid #f1f1f1 !important;">
												<label class="_cl-gray-11 _fw-600 fs-18-sm fs-30-md" for="name">Wallet</label>
												<p class="_cl-gray-11 _fw-600 fs-18-sm fs-30-md" for="name">{{.User.Wallet}}</p>
											</div>
											<div class="form-group col-6 _tal-ct">
													<label class="_cl-gray-11 _fw-600 fs-18-sm fs-30-md" for="name">จำนวนต้องมากกว่า</label>
													<p class="_cl-gray-11 _fw-600 fs-18-sm fs-30-md" for="name">{{.User.WithdrawRate}}</p>
											</div>
										</div>


										<div class="form-row">
											<div class="form-group col-8 col-sm-10 col-md-10 _mg-0">
												<label class="_cl-gray-11 _fw-600 fs-18 fs-30-md" for="">บัญชีรับเงิน</label>
											</div>
											<div class="form-group col-4 col-sm-2 col-md-2 _mg-0" id="gtm-button" data-gtm-button="change_password">
												<a href="{{route "account"}}" class="btn btn-outline-transparent fs-14 _cl-blue-1 _bdrd-5px _w-100pct _tdcrt-udl-hover">แก้ไข</a>
											</div>
										</div>
										{{if .Bookbank.Owner}}
											<p class="_cl-gray-11 _fw-600 fs-18 fs-24-md _mg-0">o {{.Bookbank.Owner}}</p>
										{{ end }}
										{{if .Bookbank.Number}}
											<p class="_cl-gray-11 _fw-600 fs-18 fs-24-md _mg-0">o {{.Bookbank.Number}}</p>
										{{ end }}
										{{if .Bookbank.BankName}}
											<p class="_cl-gray-11 _fw-600 fs-18 fs-24-md _mg-0">o {{.Bookbank.BankName}}</p>
										{{ end }}
										<p class="_fw-600 fs-14 _mg-0" style="color: red;">**คำเตือนโปรดตรวจสอบบัญชีรับเงินให้ถูกต้องทุกครั้งก่อนทำการรับเงิน หากผู้ใช้กรอกข้อมูลบัญชีผิดพลาดทางเราจะไม่รับผิดชอบใดๆ</p>

										<div class="form-row">
											<div class="form-group col-12">
												<label class="_cl-gray-11 _fw-600 fs-14" for="owner">จำนวนเงินถอน</label>
												<input id="owner" class="form-control {{if .Flash.Has "Errors"}}is-invalid{{end}}"
												name="amount" v-model="amount" @input="changeSomeThing" type="text" required>
												<p class="_fw-600 fs-10 _mg-0" style="color: red;">***ถอนขั้นต่ำ 100  บาท***</p>
												<div class="invalid-feedback">{{.Flash.Get "Errors"}}</div>
												{{if .Flash.Has "Errors"}}
													<div class="invalid-feedback">{{.Flash.Get "Errors"}}</div>
												{{end}}
											</div>
										</div>
										{{if .Flash.Has "Success"}}
											<div class="alert alert-success fs-12 _pdv-5">
												{{.Flash.Get "Success"}}
											</div>
										{{end}}

										<div class="_dp-f _jtfct-fe _mgv-32">
											<div v-cloak id="gtm-link" data-gtm-link="save_info">
												<button type="button" class="fs-14 btn sw-btn _bgcl-yellow-5 _bgcl-yellow-4-hover _fw-600 _cl-white _bdrd-5px" type="submit" {{if eq .CanWithdraw false}} disabled {{end}} @click="submitForm">ถอนเงิน</button>
											</div>
										</div>
									</form>
									<p class="fs-18 fs-30-md _cl-gray-11 _fw-700 _mgt-20">ตัวอย่างการถอนเงิน</p>
									<div>
										<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/tutorial/withdrawreal.png" alt="ตัวอย่างการถอนเงิน">
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}
