{{define "footer-menu"}}
<div class="footer-menu _pst-f _bt-0 col-12 _tal-ct">
	<div class="_dp-f _mg-at" style="height: 50px; width: 100%;">
		<a href="{{route "discover"}}" class="footer-submenu">
			<i class="fas fa-home _cl-gray-7" width="28px" height="28px" ></i>
			<p class="_cl-gray-7">หน้าแรก</p>
		</a>
		<a href="{{route "wallet"}}" class="footer-menu-center">
			<i class="fas fa-coins" ></i>
			<p class="_cl-gray-7">เติมเงิน</p>
		</a>
		<a href="" class="footer-submenu">
			<img src="https://i.pinimg.com/originals/f7/e8/c3/f7e8c32d420b6da05f807488ebf8a1e5.png" width="28px" height="28px" alt="">
			<p class="_cl-gray-7">ติดต่อเรา</p>
		</a>
	</div>
</div>
{{end}}