{{define "navbar"}}
{{if .User.IsSignin}}
<div id="navVue">
	<nav id="sw-navbar" class="sw-navbar">
		<div class="container">
			<a class="navbar-brand _mgr-15 _cl-gray-7" href="{{route "discover"}}" id="gtm-link" data-gtm-link="nbsi_logo">
				<img src="https://storage.googleapis.com/powerwork-bucket/bet/main/richboxclub-logo.png"
				srcset="https://storage.googleapis.com/powerwork-bucket/bet/main/richboxclub-logo.png" width="123" height="42" alt="logo-x">
			</a>

				<a href="{{route "wallet"}}"
					class="_pst-asl _dp-f _alit-ct _jtfct-ct _mgh-at _pdh-15 _pdv-6 u-rise-createpost-hover _tdcrt-n _bdrd-5px _bdw-1"
					id="gtm-link" data-gtm-link="nbsi_create_post"
					style="left: calc(50% - 136px / 2);background: linear-gradient(180deg, rgba(255,255,255,0) 74%, rgba(241,240,240,0) 100%); border-color: gold !important;">
					<span class="fs-14 _mgr-5 _cl-white-1">เติมเงิน</span>
					<i class="fas fa-coins fs-14" style="color: gold !important;"></i>
				</a>

			<div class="right-menu _mgl-at">

				<div class="_pst-rlt noti-wrap _mgr-15" style="user-select: none; align-self: center;">
					<div v-cloak class="_pst-asl _bgcl-negative _bdrd-50pct _w-10 _h-10" style="right: -4px;" v-if="redPoint"></div>
					<div class="_dp-f" id="gtm-button" data-gtm-button="nbsi_noti">
							<div>
								<p class="fs-10" style="margin-bottom: 0 !important">Wallet</p>
								<p class="wallet fs-10" style="color: gold; margin-bottom: 0 !important;">{{.User.Wallet}} THB</p>
							</div>
							<div class="_mgl-10">
								<p class="fs-10" style="margin-bottom: 0 !important">Bonus</p>
								<p class="bonus fs-10" style="color: gold; margin-bottom: 0 !important;">{{.User.Bonus}} THB</p>
							</div>
						<!-- <i class="far fa-bell fs-18 _cs-pt _cl-gray-1" @click="showDropdown('d')"></i> -->
					</div>

					<div class="noti-dropdown _bgcl-white" :class="{'show': dropdown === 'd'}">
						<div class="_pdh-16 _pdv-8 _h-40">
							<div v-if="hasList">
								<i class="fs-14 fas fa-bell _cl-gray-3 _mgr-8" style="transform: rotate(-45deg);"></i>
								<span class="fs-12 _cl-blue-1">แจ้งเตือนใหม่ ${notiCount} รายการ</span>
							</div>
						</div>
						<div class="noti-list sw-scrollbar">
							{{template "noti-item" .}}
							<div class="_dp-f _jtfct-ct _mgv-15" v-if="hasList">
								<a v-cloak v-if="!noMore"
								class="_pdh-20 _pdv-4 _bdcl-gray-9 _cl-gray-9 _cl-gray-10-hover _bgcl-gray-2-hover fs-13 _bdrd-50px"
								@click="getListNoti">ดูเพิ่มเติม</a>
								<h3 class="fs-13 _cl-gray-8" v-if="noMore">ไม่มีแจ้งเตือนเพิ่มเติม</h3>
							</div>
							<div v-cloak v-if="noData" class="_dp-f _fdrt-cl _alit-ct _jtfct-ct _mgt-100">
								<i class="fs-20 fas fa-bell _cl-gray-2" style="transform: rotate(-45deg);"></i>
								<h3 class="fs-16 _fw-600 _cl-gray-5 _mgt-10">ไม่มีการแจ้งเตือน</h3>
							</div>
							<div v-cloak v-if="!hasList && !noData" class="_dp-f _fdrt-cl _alit-ct _jtfct-ct _mgt-100">
								<h3 v-cloak class="fs-16 _fw-600 _cl-gray-5 _mgt-10">Loading...</h3>
							</div>
						</div>
						<div id="gtm-link" data-gtm-link="noti_all">
							<a href="{{route "notification"}}" class="fs-13 _fw-600 _bgcl-gray-2 _cl-blue-3 _h-30 _dp-f _jtfct-ct _alit-ct">
								แจ้งเตือนทั้งหมด
							</a>
						</div>
					</div>
				</div>
				<div class="dropdown profile _pdl-5 _cs-pt" style="border-left: solid 1px rgba(151, 151, 151, 0.2);">
					<button class="btn btn-outline-transparent _dp-ilf _alit-ct _pdr-0" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 2px 0.75rem;">
						<div class="name _cl-gray-1 fs-16 fqs">{{.User.FirstName}}</div>
						<img class="image _bdrd-50pct avatar-bd" src="{{.User.DisplayImage.Mini}}">
					</button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="right: 0 !important;">

							<div id="gtm-link" data-gtm-link="nbsi_dd_setting_account">
								<a class="dropdown-item _pdv-10 _pdl-15 fs-14" href="{{route "account"}}">
									<i class="far fa-cog _mgr-5 _cl-gray-10"></i>
									ตั้งค่าบัญชี
								</a>
							</div>
							<div id="gtm-link" data-gtm-link="nbsi_dd_contact">
								<a class="dropdown-item _pdv-10 _pdl-15 fs-14" href="{{route "withdraw.money"}}" target="_blank">
									<i class="far fa-users _mgr-5 _cl-gray-10"></i>
									ถอนเงิน
								</a>
							</div>
							<div id="gtm-link" data-gtm-link="nbsi_dd_contact">
								<a class="dropdown-item _pdv-10 _pdl-15 fs-14" href="{{route "contact"}}" target="_blank">
									<i class="far fa-users _mgr-5 _cl-gray-10"></i>
									ติดต่อเรา
								</a>
							</div>
							{{if .User.IsAdmin}}
							<a class="dropdown-item _pdv-10 _pdl-15 fs-14" href="{{route "admin.selectuser"}}">
								<i class="far fa-tachometer-alt _mgr-5 _cl-gray-10"></i>
								Dashboard
							</a>
							{{end}}
							<!-- <a class="dropdown-item _pdv-10 _pdl-15 fs-14" href="#">ช่วยเหลือ</a> -->
							<form class="dropdown-item _pdl-15" action="{{route "signout"}}" method="POST" id="gtm-link" data-gtm-link="nbsi_dd_signout">
								<button class="btn btn-outline-transparent _pdv-0 _pdh-0 _tal-l tall fs-14" style="border: 0;width: 100%;"
								type="submit">
								<i class="far fa-sign-out _mgr-5 _cl-gray-10"></i>
								ออกจากระบบ
							</button>
						</form>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<!-- Mobile navbar -->
	<nav id="sw-navbar-mobile" class="sw-navbar mobile">
		<div class="container _pdh-0-sm _pdh-10-lg">
			<div class="dropdown profile _cs-pt _mgr-15">
				<button class="btn btn-outline-transparent _pdh-0" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img class="image _bdrd-50pct avatar-bd" src="{{.User.DisplayImage.Mini}}">
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

					<div id="gtm-link" data-gtm-link="nbsi_dd_setting_account">
						<a class="dropdown-item _pdv-10 _pdl-15 fs-14" href="{{route "account"}}">
							<i class="far fa-cog _mgr-5 _cl-gray-10"></i>
							ตั้งค่าบัญชี
						</a>
					</div>
					<div id="gtm-link" data-gtm-link="nbsi_dd_contact">
						<a class="dropdown-item _pdv-10 _pdl-15 fs-14" href="{{route "contact"}}" target="_blank">
							<i class="far fa-users _mgr-5 _cl-gray-10"></i>
							ติดต่อเรา
						</a>
					</div>
					<div id="gtm-link" data-gtm-link="nbsi_dd_contact">
						<a class="dropdown-item _pdv-10 _pdl-15 fs-14" href="{{route "admin.selectuser"}}" target="_blank">
							<i class="far fa-tachometer-alt _mgr-5 _cl-gray-10"></i>
							Dashboard
						</a>
					</div>
					<!-- <a class="dropdown-item _pdv-10 _pdl-15 fs-14" href="#">ช่วยเหลือ</a> -->
					<form class="dropdown-item _pdl-15" action="{{route "signout"}}" method="POST">
						<div id="gtm-link" data-gtm-link="nbsi_dd_signout">
							<button class="btn btn-outline-transparent _pdv-0 _pdh-0 _tal-l fs-14"
							style="border: 0;width: 100%;" type="submit">
							<i class="far fa-sign-out _mgr-5 _cl-gray-10"></i>
							ออกจากระบบ
						</button>
						</div>
					</form>
				</ul>
			</div>

			<div class="right-menu _mgl-at">
				<div>
					<p class="fs-10" style="margin-bottom: 0 !important">Wallet</p>
					<p class="wallet fs-10" style="color: gold; margin-bottom: 0 !important;">{{.User.Wallet}} THB</p>
				</div>
				<div class="_mgl-10">
					<p class="fs-10" style="margin-bottom: 0 !important">Bonus</p>
					<p class="bonus fs-10" style="color: gold; margin-bottom: 0 !important;">{{.User.Bonus}} THB</p>
				</div>
			</div>
		</div>
	</nav>
</div>
{{else}}
	<nav class="sw-navbar anonymous">
		<div class="container _pdh-0-sm _pdh-10-lg">
			<a class="navbar-brand _mgr-15 _cl-gray-7" href="{{route "discover"}}" id="gtm-link" data-gtm-link="navbar_logo">
				<img src="https://storage.googleapis.com/powerwork-bucket/bet/main/richboxclub-logo.png"
				srcset="https://storage.googleapis.com/powerwork-bucket/bet/main/richboxclub-logo.png 2x" width="123" height="42" alt="logo-amld">
			</a>
			<div class="right-menu" id="gtm-link" data-gtm-link="navbar_contactus">
				<a class="fs-16 _fw-600 _mgr-15 _cl-gray-1" href="{{route "signin.email"}}">เข้าสู่ระบบ</a>
				<a href="{{route "register"}}">
					<span class="fs-16 _fw-600 _cl-gray-1">สมัครสมาชิก</span> <img width="40px" height="40px" src="https://storage.googleapis.com/powerwork-bucket/bet/logo/logo_line.png" alt="">
				</a>
			</div>
		</div>
	</nav>
{{end}}
{{end}}
