{{define "navbar-transparent"}}
<nav class="sw-navbar blank">
	<div class="container">
		<a class="navbar-brand" href="/" id="gtm-link" data-gtm-link="nbsip_logo">
			<img src="https://storage.googleapis.com/powerwork-bucket/static/mahaporn200.png" srcset="" alt="logo-x">
		</a>

		<div class="_mgl-at pt-1 _dp-n _dp-f-md">
			<div id="gtm-link" data-gtm-link="nbsip_privacy">
				<a class="_mgr-25 _cl-gray-3 fs-14" href="/privacy">นโยบายความเป็นส่วนตัว</a>
			</div>
			<div id="gtm-link" data-gtm-link="nbsip_condition">
				<a class="_mgr-25 _cl-gray-3 fs-14" href="/condition">ข้อกำหนด และเงื่อนไข</a>
			</div>
			<!-- <a class="_cl-gray-8 fs-14" href="">ช่วยเหลือ?</a> -->
		</div>
	</div>
</nav>
{{end}}
