{{define "navbar-transparent"}}
<nav class="sw-navbar anonymous">
	<div class="container">
		<a class="navbar-brand _mgr-15 _cl-gray-7" href="{{route "discover"}}" id="gtm-link" data-gtm-link="navbar_logo">
			<img src="https://storage.googleapis.com/powerwork-bucket/bet/main/richboxclub-logo.png"
			srcset="https://storage.googleapis.com/powerwork-bucket/bet/main/richboxclub-logo.png 2x" width="123" height="42" alt="logo-amld">
		</a>

		<div class="_mgl-at pt-1 _dp-n _dp-f-md">

			<div id="gtm-link" data-gtm-link="nbsip_condition">
				<a class="_mgr-25 _cl-gray-3 fs-14" href="/condition">ข้อกำหนด และเงื่อนไข</a>
			</div>
			<!-- <a class="_cl-gray-8 fs-14" href="">ช่วยเหลือ?</a> -->
		</div>
	</div>
</nav>
{{end}}
