{{define "sidebar-post"}}
<article class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-12 _mgbt-16 sidebar-post">
	<div class="post-thumb _mgbt-12 _mgbt-8-lg" id="gtm-link" data-gtm-link="goc_post_image">
		<a href="{{route "post.read"}}{{.Slug}}" class="img-h">
			{{if .ImageURL}}
			<img class="img-fluid _img-ct" src="{{.ImageURL}}" alt="">
			{{else}}
			<img class="img-fluid _img-ct" src="https://storage.googleapis.com/powerwork-bucket/static/post/avatar-relate.svg" alt="">
			{{end}}
		</a>
	</div>
	<div class="post-info">
		{{if .Title}}
		<a class="_tdcrt-n" href="{{route "post.read"}}{{.Slug}}" id="gtm-link" data-gtm-link="goc_post_title">
			<h6 class="fs-13 fs-14-md _cl-blue-4 _cl-blue-2-hover _fw-700 _mgbt-0 _wb-bw">{{.Title | sanitize | shortTextPost 80 | html}}</h6>
		</a>
		{{end}}
		<span class="fs-12 fs-13-lg _cl-gray-9">เข้าชม {{.View | shortNumber}} ครั้ง</span>
	</div>
</article>
{{end}}
