._cs-pt {
  cursor: pointer !important;
}

._cs-h {
  cursor: help !important;
}

._cs-nal {
  cursor: not-allowed !important;
}

._cs-at {
  cursor: auto !important;
}

._cs-df {
  cursor: default;
}

._ussl-n {
  user-select: none !important;
}