.rounded-circle {
  border-radius: 50% !important;
}


.zi-1 {
  z-index: 1;
}
.zi-2 {
  z-index: 2;
}
.zi-3 {
  z-index: 3;
}
.zi-4 {
  z-index: 4;
}
.zi-5 {
  z-index: 5;
}

._img-ct {
  display: block;
  margin: 0 auto;
}