._wsp-nm { white-space: normal !important; }
._wsp-nw { white-space: nowrap !important; }
._wsp-p  { white-space: pre !important; }
._wsp-pl { white-space: pre-line !important; }
._wsp-pw { white-space: pre-wrap !important; }
