.fs-80 {
  font-size: 80px;
}
.fs-50 {
  font-size: 50px;
}

.fs-48 {
  font-size: 48px;
}

.fs-46 {
  font-size: 46px;
}

.fs-44 {
  font-size: 44px;
}

.fs-42 {
  font-size: 42px;
}

.fs-40 {
  font-size: 40px;
}

.fs-38 {
  font-size: 38px;
}

.fs-36 {
  font-size: 36px;
}

.fs-34 {
  font-size: 34px;
}

.fs-32 {
  font-size: 32px;
}

.fs-30 {
  font-size: 30px;
}

.fs-28 {
  font-size: 28px;
}

.fs-26 {
  font-size: 26px;
}

.fs-24 {
  font-size: 24px;
}

.fs-22 {
  font-size: 22px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-12 {
  font-size: 12px;
}

.fs-11 {
  font-size: 11px;
}

.fs-10 {
  font-size: 10px;
}

@include media-breakpoint-up(sm) {
  .fs-50-sm {
    font-size: 50px;
  }
  .fs-48-sm {
    font-size: 48px;
  }
  .fs-46-sm {
    font-size: 46px;
  }
  .fs-44-sm {
    font-size: 44px;
  }
  .fs-42-sm {
    font-size: 42px;
  }
  .fs-40-sm {
    font-size: 40px;
  }
  .fs-38-sm {
    font-size: 38px;
  }
  .fs-36-sm {
    font-size: 36px;
  }
  .fs-34-sm {
    font-size: 34px;
  }
  .fs-32-sm {
    font-size: 32px;
  }
  .fs-30-sm {
    font-size: 30px;
  }
  .fs-28-sm {
    font-size: 28px;
  }
  .fs-26-sm {
    font-size: 26px;
  }
  .fs-24-sm {
    font-size: 24px;
  }
  .fs-22-sm {
    font-size: 22px;
  }
  .fs-20-sm {
    font-size: 20px;
  }
  .fs-18-sm {
    font-size: 18px;
  }
  .fs-16-sm {
    font-size: 16px;
  }
  .fs-14-sm {
    font-size: 14px;
  }
  .fs-13-sm {
    font-size: 13px;
  }
  .fs-12-sm {
    font-size: 12px;
  }
  .fs-11-sm {
    font-size: 11px;
  }
  .fs-10-sm {
    font-size: 10px;
  }
}

@include media-breakpoint-up(md) {
  .fs-50-md {
    font-size: 50px;
  }
  .fs-48-md {
    font-size: 48px;
  }
  .fs-46-md {
    font-size: 46px;
  }
  .fs-44-md {
    font-size: 44px;
  }
  .fs-42-md {
    font-size: 42px;
  }
  .fs-40-md {
    font-size: 40px;
  }
  .fs-38-md {
    font-size: 38px;
  }
  .fs-36-md {
    font-size: 36px;
  }
  .fs-34-md {
    font-size: 34px;
  }
  .fs-32-md {
    font-size: 32px;
  }
  .fs-30-md {
    font-size: 30px;
  }
  .fs-28-md {
    font-size: 28px;
  }
  .fs-26-md {
    font-size: 26px;
  }
  .fs-24-md {
    font-size: 24px;
  }
  .fs-22-md {
    font-size: 22px;
  }
  .fs-20-md {
    font-size: 20px;
  }
  .fs-18-md {
    font-size: 18px;
  }
  .fs-16-md {
    font-size: 16px;
  }
  .fs-14-md {
    font-size: 14px;
  }
  .fs-13-md {
    font-size: 13px;
  }
  .fs-12-md {
    font-size: 12px;
  }
  .fs-11-md {
    font-size: 11px;
  }
  .fs-10-md {
    font-size: 10px;
  }
}

@include media-breakpoint-up(lg) {
  .fs-50-lg {
    font-size: 50px;
  }
  .fs-48-lg {
    font-size: 48px;
  }
  .fs-46-lg {
    font-size: 46px;
  }
  .fs-44-lg {
    font-size: 44px;
  }
  .fs-42-lg {
    font-size: 42px;
  }
  .fs-40-lg {
    font-size: 40px;
  }
  .fs-38-lg {
    font-size: 38px;
  }
  .fs-36-lg {
    font-size: 36px;
  }
  .fs-34-lg {
    font-size: 34px;
  }
  .fs-32-lg {
    font-size: 32px;
  }
  .fs-30-lg {
    font-size: 30px;
  }
  .fs-28-lg {
    font-size: 28px;
  }
  .fs-26-lg {
    font-size: 26px;
  }
  .fs-24-lg {
    font-size: 24px;
  }
  .fs-22-lg {
    font-size: 22px;
  }
  .fs-20-lg {
    font-size: 20px;
  }
  .fs-18-lg {
    font-size: 18px;
  }
  .fs-16-lg {
    font-size: 16px;
  }
  .fs-14-lg {
    font-size: 14px;
  }
  .fs-13-lg {
    font-size: 13px;
  }
  .fs-12-lg {
    font-size: 12px;
  }
  .fs-11-lg {
    font-size: 11px;
  }
  .fs-10-lg {
    font-size: 10px;
  }
}

@include media-breakpoint-up(xl) {
  .fs-50-xl {
    font-size: 50px;
  }
  .fs-48-xl {
    font-size: 48px;
  }
  .fs-46-xl {
    font-size: 46px;
  }
  .fs-44-xl {
    font-size: 44px;
  }
  .fs-42-xl {
    font-size: 42px;
  }
  .fs-40-xl {
    font-size: 40px;
  }
  .fs-38-xl {
    font-size: 38px;
  }
  .fs-36-xl {
    font-size: 36px;
  }
  .fs-34-xl {
    font-size: 34px;
  }
  .fs-32-xl {
    font-size: 32px;
  }
  .fs-30-xl {
    font-size: 30px;
  }
  .fs-28-xl {
    font-size: 28px;
  }
  .fs-26-xl {
    font-size: 26px;
  }
  .fs-24-xl {
    font-size: 24px;
  }
  .fs-22-xl {
    font-size: 22px;
  }
  .fs-20-xl {
    font-size: 20px;
  }
  .fs-18-xl {
    font-size: 18px;
  }
  .fs-16-xl {
    font-size: 16px;
  }
  .fs-14-xl {
    font-size: 14px;
  }
  .fs-13-xl {
    font-size: 13px;
  }
  .fs-12-xl {
    font-size: 12px;
  }
  .fs-11-xl {
    font-size: 11px;
  }
  .fs-10-xl {
    font-size: 10px;
  }
}