.item-topic-sm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  width: 120px;
  padding: 0 25px;
  height: 55px;
  border-radius: 8px;
  color: $color-gray-1;
  background-color: #232323;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  &:hover {
	text-decoration: none;
	color: black;
    background-color: gold;
  }
}
.item-topic-sm:disabled,
.item-topic-sm[disabled]{
  background-color: gold;
  color: black;
}
.btnbet{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	max-width: 150px;
	width: 150px;
	padding: 0;
	border: 0;
	height: 80px;
	border-radius: 8px;
	color: $color-gray-1;
	background-color: rgba(53, 57, 61, 0.59);
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	&:hover {
	  text-decoration: none;
	  background-color: gold;
	  color: black;
	}
}