.item-topic-sm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  width: 120px;
  padding: 0 25px;
  height: 55px;
  border-radius: 8px;
  color: $color-gray-1;
  background-color: #232323;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  &:hover {
	text-decoration: none;
	color: black;
	background-color: gold;
	i {
		color: black !important;
	}
  }

}
.item-topic-sm:disabled,
.item-topic-sm[disabled]{
  background-color: gold;
  color: black !important;
}
.item-topic-sm i:disabled,
.item-topic-sm i[disabled]{
  color: black !important;
}

.btnbet{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	max-width: 150px;
	width: 150px;
	padding: 0;
	border: 0;
	height: 84px;
	border-radius: 8px;
	color: $color-gray-1;
	background-color: rgba(53, 57, 61, 0.59);
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	&:hover {
	  text-decoration: none;
	  background-color: gold;
	  color: black;

	}
}
.betwin {
	z-index: 1;
	width: 60%;
	margin-top: -10px !important;
}
.betlose {
	z-index: 1;
	width: 60%;
	margin-top: -10px !important;
}

.refill {
	z-index: 1;
	width: 60%;
	margin-top: -10px !important;
}

@media (max-width: 768px) {
	.betwin {
		width: 100%;
	}
	.betlose {
		width: 100%;
	}

	.refill {
		width: 100%;
	}
  }