{{define "page.title"}}หมวดหมู่{{end}}

{{define "app-body"}}
<div class="container-fluid _cl-gray">
    <h1 class="_fs-3 _fw-600 _mgbt-20">หมวดหมู่ทั้งหมด</h1>

    <a class="btn btn-info btn-sm" href="{{route "admin.category.create"}}">สร้างหมวดหมู่</a>

    <div class="row">
        <div class="col-md-10">
            <table class="table table-borderless _mgt-20">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ชื่อหมวดหมู่</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {{range $i, $category := .Category}}
                    <tr>
                        <td>
                            {{add $i 1}}
                        </td>
                        <td class="_vtcal-md">{{$category.Name}}</td>
                        <td class="_vtcal-md">
                            <a class="btn btn-warning btn-sm" href="{{route "admin.category.edit" (param "id" .ID) (param "name" .Name)}}">แก้ไข</a>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td class="_tal-ct _w-80pct" colspan="3">ยังไม่มีหมวดหมู่</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>

</div>
{{end}}