{{define "page.title"}}สร้างหัวข้อ{{end}}

{{define "app-body"}}
<div class="container-fluid _cl-gray">
	<h1 class="_fs-3 _fw-600 _mgbt-20">สร้างหัวข้อ</h1>

	{{if .Flash.Has "Errors"}}
		<div class="alert alert-danger">
			{{.Flash.Get "Errors"}}
		</div>
	{{end}}

	<form action="{{route "admin.topic.create"}}" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label for="">หมวดหมู่</label>
			<select class="form-control" name="cat_id" required>
				<option value="">เลือกหมวดหมู่</option>
				{{range .Category}}
					<option value="{{.ID}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group">
			<label>ชื่อหัวข้อ</label>
			<input type="text" name="name" class="form-control" name="name" value="" required>
		</div>
		<div class="form-group">
			<div class="custom-file">
				<input type="file" name="image" class="custom-file-input" id="customFile" lang="th" accept="image/*" required>
				<label class="custom-file-label form-control-sm _dp-ilb" id="btn-customFile" for="customFile">รูปภาพหัวข้อ</label>
			</div>
			<small class="form-text text-muted">ขนาดรูปภาพ 300x300 px</small>
		</div>
		<div class="_bdrd-4 _ovf-hd _mgbt-16">
			<img id="imgShow" class="img-fluid _dp-b _mgh-at" width="400px" src="">
		</div>

		<h4>จัดการ SEO (คิดดีๆ)</h4>

		<div class="form-group">
			<label>Title SEO</label>
			<input type="text" class="form-control" name="title" value="">
		</div>

		<div class="form-group">
			<label>Tagline SEO</label>
			<input type="text" class="form-control" name="tagline" value="">
		</div>

		<div class="form-group">
			<label>Description SEO</label>
			<input type="text" class="form-control" name="description" value="">
		</div>

		<div class="form-group">
			<div class="custom-file">
				<input type="file" name="image_fb" class="custom-file-input" id="fbFile" lang="th" accept="image/*">
				<label class="custom-file-label form-control-sm _dp-ilb" id="btn-customFile" for="fbFile">รูปภาพ Facebook</label>
			</div>
			<small class="form-text text-muted">ขนาดรูปภาพอย่างน้อย 1200x630 px</small>
			<p style="color: red;">{{.Flash.Get "Errors"}}</p>
		</div>
		<div class="_bdrd-4 _ovf-hd _mgbt-16">
			<img id="imgShowFB" class="_dp-b _mgh-at _bdrd-3px" width="400px" src="">
		</div>
		<button type="submit" class="btn btn-info _pdh-40">บันทึก</button>
	</form>
</div>
{{end}}

{{define "main.script"}}
<script>
    function bindFileInputImage(input, img) {
        if (!input || !img) return
        input.onchange = () => {
            const fp = input.files && input.files[0]
            if (fp) {
                const reader = new window.FileReader()
                reader.onload = (e) => {
                    img.src = e.target.result
                }
                reader.readAsDataURL(fp)
            }
        }
    }
    $(document).ready(function () {
        bindFileInputImage(
            document.querySelector('#customFile'),
            document.querySelector('#imgShow')
        )
        bindFileInputImage(
            document.querySelector('#fbFile'),
            document.querySelector('#imgShowFB')
        )
    })
</script>
{{end}}