{{define "page.title"}}Withdraw{{end}}

{{define "app-body"}}

<div class="container _mgt-20-md">
	<div class="row">
		<div class="col-11 _mg-at">
			<div class="row _fdrt-cl _bgcl-white _bdrd-2px _cl-gray-11 _pdbt-30">

				<div class="admin-special-menu">
						<a class="btn btn-info _mg-5" href="{{route "discover"}}">
							หน้าหลัก
						</a>
						<a class="btn btn-info _mg-5" href="{{route "admin.selectuser"}}">
							เติมเงิน
						</a>
						<a class="btn btn-info _mg-5" href="{{route "admin.withdraw.money"}}">
							ถอนเงิน
						</a>
				</div>

				<!-- <form class="form _pdh-20 _pdv-20 _pdh-65-md _pdv-30-md _bgcl-white" action="{{route "admin.withdraw.money"}}" method="GET">
						<h4 class="fs-16 _cl-gray-11 _fw-700 _tal-ct _mgbt-20">ถอนเงิน</h4>
						<div class="form-group">
							<p class="form-text _cl-black-8 fs-16 _mgt-0 _mgbt-10">email</p>
							<input type="text" class="form-control" name="email" placeholder="email" required>
							<div class="invalid-feedback">{{.Flash.Get "ErrName"}}</div>
						</div>

						<div id="gtm-link">
							<button class="btn btn-info _bgcl-yellow-5 _fw-600 _cl-white _bdrd-5px _w-100pct _h-40 _mgt-20 _mgbt-25">ยืนยัน</button>
						</div>

						<small class="form-text _cl-gray-8 fs-12">
								อ่าน <a href="{{route "condition"}}" target="_bank">ข้อกำหนดและเงื่อนไข</a> ในการใช้บริการ
						</small>

					</form> -->
					<div class="container" style="border-radius: 10px;">
							<div id="">
								<h2 class="_tal-ct _mgt-20 _mgbt-20 fs-20 fs-30-md">รายชื่อคนถอนเงิน</h2>
								<table class="_mg-at col-11 table _tal-ct" cellspacing="0">
									<tr>
									<th class="fs-10 fs-18-md _pd-5">เบอร์โทรศัพท์</th>
										<th class="fs-10 fs-18-md _pd-5">จำนวนเงิน</th>
										<th class="fs-10 fs-18-md _pd-5">ชื่อบัญชี</th>
										<th class="fs-10 fs-18-md _pd-5">เลขบัญชี</th>
										<th class="fs-10 fs-18-md _pd-5">ชื่อธนาคาร</th>
										<th class="fs-10 fs-18-md _pd-5">สถานะ</th>
									</tr>
									{{range .ListUser}}
									<tr>
										<td class="fs-10 fs-18-md">{{.Email}}</td>
										<td class="fs-10 fs-18-md">{{.Amount}}</td>
										<td class="fs-10 fs-18-md">{{.BookbankOwner}}</td>
										<td class="fs-10 fs-18-md">{{.BookbankNumber}}</td>
										<td class="fs-10 fs-18-md">{{.BookbankBank}}</td>
										<form action="{{route "admin.withdraw.money"}}" method="POST">
											<input type="input" hidden name="id" value="{{.ID}}">
											<td class="fs-10 fs-18-md">
												<button type="submit"><i class="fas fa-check-circle fs-18" type="submit" style="color:greenyellow;"></i></button>
											</td>
										</form>

									</tr>
									{{end}}
								</table>
							</div>
					</div>

				<div class="w-100"></div>

			</div>
		</div>
	</div>
</div>
{{end}}

{{define "main.style"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.min.css">

{{end}}

{{define "main.script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/owl.carousel.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

{{end}}
