{{define "page.title"}}ตั้งค่าบัญชี{{end}}

{{define "app-body"}}
	<div class="container _mgt-0 _mgt-20-md">
		<div class="row" id="app">
			{{template "modal-upload-img"}}
			{{template "modal-verify-email"}}
			{{if and (and .User.IsVerify .User.IsVerifyIDCard) (not .User.IsVerifyBookBank)}}
				{{template "modal-verify-bookbank" .}}
			{{end }}
			{{if and (not .User.IsVerifyIDCard) .User.IsVerify}}
				{{template "modal-verify-idcard" .}}
			{{end}}
			<div class="col-12 col-lg-8 offset-lg-2 _bgcl-white pd" style="padding-bottom: 80px;">
				<div class="row">
					<div class="col-12 col-md-10 offset-md-1">
						<div class="_bdrd-0 _bdrd-2px-md _bgcl-white _pdv-15 _pdv-32-md">
							<h1 class="fs-20 _cl-gray-11 _fw-700 _mgbt-10">บัญชี</h1>
							<div class="_bdw-1 _bdcl-gray-2 _mgbt-24"></div>
							<div class="_dp-f _fdrt-cl _fdrt-r-lg">
								<div class="_dp-f _alit-ct _jtfct-ct _alit-fst-lg _mgbt-16 _mgbt-0-lg _mgr-38-lg">
									<div class="_pst-rlt image-account" id="gtm-link" data-gtm-link="account_avatar">
										<img class="_bdrd-50pct _img-ct avatar-bd"
										src="{{.User.DisplayImage.Normal}}"
										width="174px" height="174px">
										<!-- <div class="icon-upload _cs-pt _bdrd-50pct _jtfct-ct _alit-ct" title="เปลี่ยนรูปภาพ"
										@click="openModal">
											<i class="fs-40 fal fa-camera"></i>
										</div> -->
									</div>
								</div>
								<div class="_w-100pct">
									<form ref="formAccount" action="{{route "account"}}" method="POST" autocomplete="off">
										<div class="form-row">
											<div class="form-group col-sm-12 col-md-6">
												<label class="_cl-gray-11 _fw-600 fs-14" for="name">ชื่อ</label>
												<input id="name" class="form-control {{if .Flash.Has "ErrName"}}is-invalid{{end}}"
												name="firstname"
												v-model="firstName"
												@input="changeSomeThing"
												type="text" required>
												<div class="invalid-feedback">{{.Flash.Get "ErrName"}}</div>
											</div>
											<div class="form-group col-sm-12 col-md-6">
												<label class="_cl-gray-11 _fw-600 fs-14" for="lname">นามสกุล</label>
												<input id="lname" class="form-control {{if .Flash.Has "ErrLName"}}is-invalid{{end}}"
												name="lastname"
												v-model="lastName"
												@input="changeSomeThing"
												type="text" required>
												<div class="invalid-feedback">{{.Flash.Get "ErrLName"}}</div>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-12">
												<label class="_cl-gray-11 _fw-600 fs-14" for="owner">ชื่อบัญชี</label>
												<input id="owner" class="form-control {{if .Flash.Has "ErrEmail"}}is-invalid{{end}}"
												name="owner"
												v-model="newOwner"
												@input="changeSomeThing"
												type="text" required>
												<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
												{{if and (.Flash.Has "ErrEmail") (not .User.Email)}}
													<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
												{{end}}
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-12">
												<label class="_cl-gray-11 _fw-600 fs-14" for="number">เลขบัญชี</label>
												<input id="number" class="form-control {{if .Flash.Has "ErrEmail"}}is-invalid{{end}}"
												name="number"
												v-model="newNumber"
												@input="changeSomeThing"
												type="email" required>
												<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
												{{if and (.Flash.Has "ErrEmail") (not .User.Email)}}
													<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
												{{end}}
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-12">
												<label class="_cl-gray-11 _fw-600 fs-14" for="bank">ชื่อธนาคาร</label>
												<input id="bank" class="form-control {{if .Flash.Has "ErrEmail"}}is-invalid{{end}}"
												name="bank"
												v-model="newBank"
												@input="changeSomeThing"
												type="email" required>
												<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
												{{if and (.Flash.Has "ErrEmail") (not .User.Email)}}
													<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
												{{end}}
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-12">
												<label class="_cl-gray-11 _fw-600 fs-14" for="email">เบอร์โทรศัพท์</label>
												<input id="email" class="form-control {{if .Flash.Has "ErrEmail"}}is-invalid{{end}}"
												name="email"
												v-model="newEmail"
												type="email" readonly required>
												<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
												{{if and (.Flash.Has "ErrEmail") (not .User.Email)}}
													<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
												{{end}}
											</div>
										</div>
										<input type="hidden" name="change-email" :value="changeEmail">
										<div class="form-row">
											<div class="col-12">
												<label class="_cl-gray-11 _fw-600 fs-14" for="password">รหัสผ่าน</label>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-8 col-sm-10 col-md-10">
												<input v-if="changePassword" id="password" class="form-control {{if .Flash.Has "ErrOldPassword"}}is-invalid{{end}}"
												:class="{ '_bgcl-gray-2': !changePassword }"
												name="old-password" type="password"
												{{if or (.Flash.Has "ErrOldPassword") (.Flash.Has "ErrNewPassword") (.Flash.Has "ErrInputEmptyNewPassword") (.Flash.Has "ErrInputEmptyRepeatPassword") (.Flash.Has "ErrPasswordMissMatch")}}
													value="{{.Flash.Get "OldPassword"}}"
												{{end}}
													value=""
												placeholder="รหัสผ่านเดิม"  required
												:readonly="!changePassword"
												>
												<div class="invalid-feedback">{{.Flash.Get "ErrOldPassword"}}</div>
												<input v-cloak v-if="!changePassword" class="form-control _bgcl-gray-2" type="password" v-model="dummyPassword" :readonly="!changePassword">
											</div>
											<div class="form-group col-4 col-sm-2 col-md-2" id="gtm-button" data-gtm-button="change_password">
												<a class="btn btn-outline-transparent fs-14 _cl-blue-1 _bdrd-5px _w-100pct _tdcrt-udl-hover" @click.prevent="openChangePassword">แก้ไข</a>
											</div>
										</div>
										<div v-cloak class="form-row">
											<div class="form-group col-12" v-if="changePassword">
												<input class="form-control
												{{if or (.Flash.Has "ErrNewPassword") (.Flash.Has "ErrPasswordMissMatch") (.Flash.Has "ErrInputEmptyNewPassword")}}is-invalid{{end}}"
												name="new-password" type="password" placeholder="รหัสผ่านใหม่"
												value="{{.Flash.Get "NewPassword"}}"
												required>
												{{if  .Flash.Has "ErrNewPassword"}}
													<div class="invalid-feedback">{{.Flash.Get "ErrNewPassword"}}</div>
												{{end}}
												{{if  .Flash.Has "ErrInputEmptyNewPassword"}}
													<div class="invalid-feedback">{{.Flash.Get "ErrInputEmptyNewPassword"}}</div>
												{{end}}
											</div>
										</div>
										<div v-cloak class="form-row">
											<div class="form-group col-12" v-if="changePassword">
												<input class="form-control
												{{if or (.Flash.Has "ErrNewPassword") (.Flash.Has "ErrPasswordMissMatch") (.Flash.Has "ErrInputEmptyRepeatPassword")}}is-invalid{{end}}"
												name="repeat-password" type="password" placeholder="ยืนยันรหัสผ่านใหม่"
												value="{{.Flash.Get "RepeatPassword"}}"
												required>
												{{if  .Flash.Has "ErrNewPassword"}}
													<div class="invalid-feedback">{{.Flash.Get "ErrNewPassword"}}</div>
												{{end}}
												{{if  .Flash.Has "ErrPasswordMissMatch"}}
													<div class="invalid-feedback">{{.Flash.Get "ErrPasswordMissMatch"}}</div>
												{{end}}
												{{if  .Flash.Has "ErrInputEmptyRepeatPassword"}}
													<div class="invalid-feedback">{{.Flash.Get "ErrInputEmptyRepeatPassword"}}</div>
												{{end}}
											</div>
										</div>
										<input type="hidden" name="change-password"
											:value="changePassword"
										>
										{{if .Flash.Has "Success"}}
											<div class="alert alert-success fs-12 _pdv-5">
												{{.Flash.Get "Success"}}
											</div>
										{{end}}
										<div class="_dp-f _jtfct-fe _mgv-32" v-if="editAccount || changePassword">
											<div v-cloak id="gtm-link" data-gtm-link="cancel">
												<button type="button" class="fs-14 btn btn-outline-transparent _cl-blue-1 _tdcrt-udl-hover _bdrd-5px _mgr-16" @click="reset">ยกเลิก</button>
											</div>
											<div v-cloak id="gtm-link" data-gtm-link="save_info">
												<button type="button" class="fs-14 btn sw-btn _bgcl-yellow-5 _bgcl-yellow-4-hover _fw-600 _cl-white _bdrd-5px" type="submit" @click="submitForm">ยืนยัน</button>
											</div>
										</div>
									</form>
								<!--            form with draw       -->
									<!-- <form ref="formWithDraw" action="{{route "account"}}" method="POST" autocomplete="off">
											<div class="form-row">
												<div class="form-group col-12">
													<label class="_cl-gray-11 _fw-600 fs-14" for="email">ชื่อธนาคาร</label>
													<input id="email" class="form-control {{if .Flash.Has "ErrEmail"}}is-invalid{{end}}"
													name="email"
													v-model="newEmail"
													type="email" readonly required>
													<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
													{{if and (.Flash.Has "ErrEmail") (not .User.Email)}}
														<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
													{{end}}
												</div>
											</div>
											<div class="form-row">
													<div class="form-group col-12">
														<label class="_cl-gray-11 _fw-600 fs-14" for="email">เลขบัญชี</label>
														<input id="email" class="form-control {{if .Flash.Has "ErrEmail"}}is-invalid{{end}}"
														name="email"
														v-model="newEmail"
														type="email" readonly required>
														<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
														{{if and (.Flash.Has "ErrEmail") (not .User.Email)}}
															<div class="invalid-feedback">{{.Flash.Get "ErrEmail"}}</div>
														{{end}}
													</div>
												</div>
											<div class="form-row">
												<div class="col-12">
													<label class="_cl-gray-11 _fw-600 fs-14" for="password">ชื่อเจ้าของสมุดบัญชี</label>
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-8 col-sm-10 col-md-10">
													<input v-if="changePassword" id="password" class="form-control {{if .Flash.Has "ErrOldPassword"}}is-invalid{{end}}"
													:class="{ '_bgcl-gray-2': !changePassword }"
													name="old-password" type="password"
													{{if or (.Flash.Has "ErrOldPassword") (.Flash.Has "ErrNewPassword") (.Flash.Has "ErrInputEmptyNewPassword") (.Flash.Has "ErrInputEmptyRepeatPassword") (.Flash.Has "ErrPasswordMissMatch")}}
														value="{{.Flash.Get "OldPassword"}}"
													{{end}}
														value=""
													placeholder="รหัสผ่านเดิม"  required
													:readonly="!changePassword"
													>
													<div class="invalid-feedback">{{.Flash.Get "ErrOldPassword"}}</div>
													<input v-cloak v-if="!changePassword" class="form-control _bgcl-gray-2" type="password" v-model="dummyPassword" :readonly="!changePassword">
												</div>
												<div class="form-group col-4 col-sm-2 col-md-2" id="gtm-button" data-gtm-button="change_password">
													<a class="btn btn-outline-transparent fs-14 _cl-blue-1 _bdrd-5px _w-100pct _tdcrt-udl-hover" @click.prevent="openChangePassword">แก้ไข</a>
												</div>
											</div>
											<div class="_dp-f _jtfct-fe _mgv-32" v-if="editWithDraw || changePassword">
												<div v-cloak id="gtm-link" data-gtm-link="cancel">
													<button type="button" class="fs-14 btn btn-outline-transparent _cl-blue-1 _tdcrt-udl-hover _bdrd-5px _mgr-16" @click="reset">ยกเลิก</button>
												</div>
												<div v-cloak id="gtm-link" data-gtm-link="save_info">
													<button type="button" class="fs-14 btn sw-btn _bgcl-yellow-5 _bgcl-yellow-4-hover _fw-600 _cl-white _bdrd-5px" type="submit" @click="submitWithDraw">ยืนยัน</button>
												</div>
											</div>
										</form> -->
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}
