{{define "page.title"}}Main menu{{end}}

{{define "list-game"}}

<div class="_mg-at _pd-0 col-11 col-lg-7">

		<div class="row _fdrt-cl _bgcl-white _bdrd-2px _cl-gray-11" style="background: none !important">
			<div class="_dp-f _tal-ct _mgt-20 mh-40" style="margin-left:-15px; margin-right:-15px;">
				<div class="col-4" >
						<div class="_bdw-1 _mgv-10" style="border-color :gold"></div>
				</div>
				<div class="col-4">
						<span class="fs-20-lg fs-20-md" style="color: gold">เกมส์</span>
				</div>
				<div class="col-4">
						<div class="_bdw-1 _mgv-10" style="border-color :gold"></div>
				</div>
			</div>

			<div class="row _mgt-10">
				<div class="col-6 col-lg-6 _pd-5">
					<a href="{{route "front.back"}}" class="">
						<img class="_img-ct img-fluid" src="https://storage.googleapis.com/powerwork-bucket/bet/main/Heads-tails-Poster.jpg" alt="">
					</a>
				</div>
			</div>

		</div>
</div>
{{end}}