{{define "page.title"}}ข้อกำหนด และเงื่อนไข{{end}}

{{define "app-body"}}
	<div class="container _mgt-20-md">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 _mgbt-30">
                <h1 class="fs-42">ข้อกำหนด และเงื่อนไขเว็บไซต์ dojinxxx</h1>
				<div class="row _fdrt-cl _bgcl-white _bdrd-2px _cl-gray-11 _pdbt-30">
					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<h2 class="fs-24 fs-28-md fs-36-lg _mgt-48 _mgbt-20 _tal-ct _cl-gray-12">ข้อกำหนด และเงื่อนไข</h2>
					</div>
					<div class="w-100"></div>
					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<p class="fs-18 _tal-ct _mgbt-0">
							เราคือพื้นที่ของการสร้างสรรค์ผลงานและการเรียนรู้สำหรับผู้คนซึ่งมีความชอบในสิ่ง เดียวกัน เพื่อนำมาซึ่งความบันเทิงและการแลกเปลี่ยนมุมมองทัศนะต่างๆ โดยอยู่บนพื้นฐานของ เงื่อนไขในการใช้งาน และ ข้อกฎหมาย เพื่อให้เกิดประโยชน์ต่อสังคมและขับเคลี่อนวิถีชีวิตผู้คนให้ดีขึ้น
						</p>
					</div>
					<div class="_w-100pct"></div>

					<div class="col-10 offset-1">
						<div class="_bdw-1 _bdcl-gray-2 _mgv-30"></div>
					</div>

					<div class="col-10 offset-1 _mgbt-50">
						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 1</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นสิ่งผิดกฎหมาย ผิดต่อจารีต ประเพณีหรือศีลธรรมอันดีของสังคม
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 2</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นการละเมิดลิขสิทธิ์และสิทธิความเป็นเจ้าของในทรัพย์สินของผู้อื่น โดยในกรณีละเมิดลิขสิทธิ์ผู้อื่นนั้น ผู้ให้บริการจะถือเป็นความผิดร้ายแรงต่อทางเว็บไซต์โดยจะพิจารณาตัดขาดจากการเป็นสมาชิกทันที และต้องถูกดำเนินคดีทางกฎหมายจนถึงที่สุด
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 3</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นการยุยง ชักชวน ใส่ร้าย สร้างความเท็จอันนำมาซึ่งความเข้าใจผิดแก่ผู้คน หรือมีเจตนาส่อให้เกิดความขัดแย้งบนสังคม
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 4</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นการกล่าวอ้าง พาดพิง ให้เกิดความเสียหายแก่บุคคลหรือองค์กร หากมีกรณีเช่นนี้ ผู้ให้บริการจะถือว่ามิได้มีส่วนเกี่ยวข้องในการกระทำดังกล่าว โดยมิได้มี “เจตนา” ในการกระทำความผิด ไม่ว่าจะเป็นการ “จงใจสนับสนุน” หรือ “ยินยอม” ก็ตาม
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 5</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นการปลอมแปลง แฝงตัวหรือกล่าวอ้างเป็นชื่อของบุคคล หรือองค์กร โดยใช้เจ้าของชื่อนั้นเพื่อแสวงหาผลประโยชน์ ทำให้เจ้าของชื่อดังกล่าวได้รับความเสียหาย
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 6</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาที่เป็นถ้อยคำหยาบคาย ก้าวร้าว รวมถึงการกระทำเชิงสัญลักษณ์ที่แสดงออกถึงความหยาบคาย ป่าเถื่อน
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 7</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นสิ่งลามก อนาจาร หยาบช้า เลวทราม สกปรก อันเป็นที่น่ารังเกียจแก่ผู้อื่นในด้านความดีงาม
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 8</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นการบ่อนทำลาย วิพากษ์วิจารณ์ หรือบิดเบือน อันเป็นการก่อความเสียหายต่อศาสนา นิกาย ลัทธิ คำสอนและความเชื่อ ขององค์กรทางศาสนาใดๆก็ตามในสังคม
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 9</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นการวิพากษ์วิจารณ์หรือพาดพิงสถาบันพระมหากษัตริย์และราชวงศ์ โดยเด็ดขาด
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 10</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นการสนับสนุนการกระทำที่บ่อนทำลายอำนาจอธิปไตยของประชาชน หรือบิดเบือนข้อเท็จจริงทางประวัติศาสตร์ เพื่อผลประโยชน์ทางการเมือง
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 11</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา ห้ามมิให้มีเนื้อหาเป็นการสนับสนุนในการทำร้ายร่างกาย จิตใจ ทั้งต่อตัวบุคคลนั้นเอง หรือทำร้ายบุคคลอื่น ไม่ว่าจะเป็นการยุยง กลั่นแกล้ง ซ้ำเติม รวมถึงการเหยียดซึ่งชนชาติ อันเป็นการกระทำที่ผิดต่อศีลธรรมอันดีของสังคม
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 12</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา จะถือว่าผู้ใช้งานได้อนุญาติให้เราเข้าถึงลิขสิทธิ์ของท่าน ในการเผยแพร่ กล่าวถึง จัดอันดับ หรือใช้เป็นหลักฐานทางกฎหมาย ซึ่งการกระทำดังกล่าวจะเกิดขึ้นภายในเว็บไซต์ของผู้ให้บริการเท่านั้น
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 13</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา จะถือว่าผู้ใช้งานซึ่งเป็นผู้จัดทำเนื้อหาดังกล่าวบนเว็บไซต์ มีเจตนาในการเผยแพร่ข้อมูลสู่สาธารณชน ในกรณีที่ท่านได้ทำการโพสต์แบบ “สาธารณะ”
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 14</h5>
						<p class="_mgbt-0">
							การใช้บริการต่างๆบนเว็บไชต์ของเรา เนื้อหาที่ผู้ใช้บริการสร้างขึ้นภายในเว็บไซต์ ทางผู้ให้บริการจะถือว่าสมาชิกได้ยินยอมให้ผู้ให้บริการสามารถ ลบ อายัด หรือใช้เพื่อเป็นหลักฐานทางกฎหมาย กับเนื้อหาดังกล่าว โดยอ้างอิงจากข้อตกลง เงื่อนไขในการใช้บริการ รวมถึงการพิจารณาเพิกถอนหรืออายัดความเป็นสมาชิกของผู้ใช้งาน เมื่อมีการกระทำที่อาจส่งผลกระทบให้เกิดความเสียหายต่อบุคคล องค์กร และทางเว็บไซต์ โดยมิจำเป็นต้องแจ้งให้ทราบล่วงหน้าต่อสมาชิกเป็นลายลักษณ์อักษร
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 15</h5>
						<p class="_mgbt-0">
							ในการให้บริการของเว็บไซต์ ไม่มีนโยบายการเรียกเก็บเงินต่อผู้ใช้บริการ “ทั่วไป” ในลักษณะ ค่าบริการ ค่าดำเนินการ และการขอรับบริจาค ใดๆทั้งสิ้น หากมีการกระทำซึ่งเป็นการแอบอ้างว่าเป็นผู้ให้บริการ โดยกระทำการเรี่ยไร ขอรับบริจาค หรือทำการเรียกชำระค่าบริการ บนเว็บไซต์ ทางผู้ให้บริการจะไม่ขอเป็นผู้รับผิดชอบต่อความเสียหายดังกล่าวทุกกรณี
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 16</h5>
						<p class="_mgbt-0">
							ในการให้บริการของเว็บไซต์ ผู้ให้บริการขอสงวนสิทธิ์ในการเปลี่ยนแปลง เพิ่มเติม แก้ไข กฎข้อบังคับและเงื่อนไขในการใช้งานในอนาคต ให้สอดคล้องกับหลักกฎหมายและนโยบายของบริษัท เพื่อสร้างบริการบนเว็บไซต์ของเราให้สมบูรณ์ยิ่งขึ้น โดยมิจำเป็นต้องแจ้งให้ทราบล่วงหน้า ซึ่งผู้ให้บริการจะแสดงข้อกำหนดการเปลี่ยนแปลงที่มีผลบังคับใช้ดังกล่าวบนหน้าแรกของเว็บไซต์ในส่วนของ Conditions ให้ผู้ใช้บริการเข้ามารับทราบด้วยตัวเอง
						</p>

					</div>

				</div>
			</div>

            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="row _fdrt-cl _bgcl-white _bdrd-2px _cl-gray-11 _pdbt-30">
                    <div class="col-10 offset-1 col-md-8 offset-md-2">
						<h2 class="fs-24 fs-28-md fs-36-lg _mgt-48 _mgbt-20 _tal-ct _cl-gray-12">เงื่อนไขการรับรายได้จากเว็บไซต์</h2>
					</div>
                    <div class="w-100"></div>
					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<p class="fs-18 _mgbt-0">
							ข้อตกลงดังกล่าว ถือเป็นการตกลงกันระหว่าง “ผู้ใช้งาน” ซึ่งในสัญญาฉบับนี้จะขอเรียกว่า “ผู้ผลิตคอนเทนต์” ซึ่งได้ยินยอมในข้อตกลงนี้กับทาง “บริษัท เลนส์คอร์ป จำกัด” เจ้าของเว็บไซต์

                            การจ่ายเงินให้แก่ “ผู้ผลิตคอนเทนต์”ทางบริษัทจะคิดอัตราการจ่ายเงิน จากยอดรวมการรับชมคอนเทนต์ภายในเพจนั้นๆ โดยจะคิดมูลค่าได้จาก ยอดการรับชมของทุกคอนเทนต์ภายในเพจหนึ่งเพจนั้นรวมกัน ซึ่งในหนึ่งบัญชีไม่สามารถคิดรวมยอดการรับชมคอนเทนต์จากคนละเพจได้ โดยทางบริษัทจะโอนเงินเข้าบัญชีผู้ผลิตคอนเทนต์ ก็ต่อเมื่อมีอัตรายอดรายได้ขั้นต่ำถึงจำนวณที่บริษัทกำหนดไว้ ซึ่งใช้เวลาประมาณ 7-14 วัน ซึ่งหากมีการเปลี่ยนแปลงจะแจ้งให้ทราบทาง E-mail
                            อัตราการจ่ายเงินต่อจำนวนการรับชมคอนเทนต์ถือเป็นสิทธิ์ของบริษัทในการเปลี่ยนแปลงอัตราดังกล่าว โดยถือเป็นส่วนที่บริษัทมิจำเป็นต้องแจ้งให้ทราบ ซึ่งถือเป็นเงื่อนไขที่ทางผู้ผลิตคอนเทนต์ได้ “ยินยอม” ในข้อตกลงนี้แล้ว
                            บริษัทขอสงวนสิทธิ์ในการพิจารณาเพิกถอนการจ่ายเงินในบางคอนเทนต์ของผู้ผลิตคอนเทนต์ และสามารถบังคับใช้บทลงโทษ เช่น การระงับการเผยแพร่ การลบคอนเทนต์ รวมถึงการเพิกถอนบัญชีผู้ใช้งาน หากพบสิ่งผิดปรกติในคอนเทนต์ดังกล่าว โดยจะทำการประเมินจากกรณีต่างๆ ดังนี้
						</p>
					</div>
					<div class="_w-100pct"></div>

					<div class="col-10 offset-1">
						<div class="_bdw-1 _bdcl-gray-2 _mgv-30"></div>
					</div>

                    <div class="col-10 offset-1 _mgbt-50">
						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 1 คอนเทนต์</h5>

                        <ol>
                            <li>คอนเทนต์ดังกล่าวเป็นการละเมิดลิขสิทธิ์ผลงานของผู้อื่น ไม่ว่าจะเป็น การคัดลอก ดัดแปลง แก้ไข โดยไม่ได้รับการยินยอมจากเจ้าของลิขสิทธิ์</li>
                            <li>คอนเทนต์ที่มีเนื้อหาเป็นสิ่งผิดกฏหมายและขัดต่อหลักศีลธรรมอันดีของสังคม</li>
                            <li>คอนเทนต์ที่เป็นการยุยง ปลุกปั่น กลั่นแกล้ง เพื่อให้เกิดความเกลียดชังในสังคม</li>
                            <li>คอนเทนต์ที่เป็นการละเมิดสิทธิส่วนบุคคลของผู้อื่น ซึ่งเป็นการดูหมิ่น พาดพิง อันนำมาซึ่งความเดือดร้อนของบุคคลนั้นๆ</li>
                            <li>คอนเทนต์ที่เป็นการให้ข้อมูลเท็จ และเข้าข่ายการอวดอ้าง หลอกลวง โดยนำมาซึ่งการเข้าใจผิดของผู้อ่านคอนเทนต์ดังกล่าวในสังคม</li>
                            <li>คอนเทนต์ที่มีความรุนแรง หยาบคาย ป่าเถื่อน ซึ่งเป็นตัวอย่างที่ไม่ดีต่อเยาวชน และผู้คนในสังคม</li>
                            <li>คอนเทนต์ที่มีภาพโป๊เปลือย อนาจาร หรือมีการชักชวนให้ทำอนาจาร</li>
                            <li>คอนเทนต์ที่เกี่ยวข้องกับยาเสพติดทุกชนิด ทั้งการกล่าวถึง แนะนำ ชักชวน</li>
                            <li>คอนเทนต์ที่เกี่ยวข้องกับการดูหมิ่นพระบรมเดชานุภาพ ตามมาตตรา 112</li>
                            <li>คอนเทนต์ที่ทางบริษัทตั้งข้อสงสัยว่าใช้โปรแกรมเข้าช่วยเพื่อเพิ่มยอดการรับชม ยอดการกดถูกใจ ยอดการแชร์ โดยเป็นยอดที่เกิดขึ้นอย่างผิดปรกติและทางบริษัทไม่สามารถหาที่มาของยอดดังกล่าวได้ หรือ บริษัทได้พบหลักฐานว่าใช้โปรแกรมเข้าช่วยจริง ทางบริษัทจะขอเพิกถอนคอนเทนต์นั้นไว้เพื่อทำการตรวจสอบ โดยจะแจ้งกลับต่อทางผู้ผลิตคอนเทนต์โดยตรง ซึ่งหากมีความผิดจริงทางบริษัทจำเป็นต้องดำเนินคดีตามกฏหมาย</li>
                        </ol>
                    </div>

                    <div class="col-10 offset-1 _mgbt-50">
						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 2 การใช้งานโดยบุคคลที่ไม่ใช่เจ้าของบัญชีผู้ผลิตคอนเทนต์</h5>

                        <ol>
                            <li>การแอบอ้างใช้งานบัญชีผู้ผลิตคอนเทนต์ เพื่อสร้างคอนเทนต์ซึ่งเข้าข่ายที่ต้องพิจารณาเพิกถอนหรือได้รับบทลงโทษ ดังกรณี <b>1.คอนเทนต์</b></li>
                            <li>การปลอมแปลงเป็นเจ้าของบัญชีผู้ผลิตคอนเทนต์ โดยมิได้เป็นบุคคลที่ได้ทำการส่งหลักฐานยืนยันตัวตนที่ได้ลงทะเบียนไว้กับทางบริษัท</li>
                        </ol>
                    </div>

                    <div class="col-10 offset-1 _mgbt-50">
						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 3 การถูกแทรกแซงจากผู้ไม่หวังดี</h5>

                        <ol>
                            <li>
                            การถูกผู้ใช้โปรแกรมกลั่นแกล้งให้คอนเทนต์ของเจ้าของบัญชีเกิดความผิดปรกติ เช่น การเพิ่มยอดการรับชม ยอดการกดถูกใจ ยอดการแชร์ โดยเป็นยอดที่ทางบริษัทไม่สามารถหาที่มาของยอดดังกล่าวได้ หรือ บริษัทได้พบหลักฐานว่าถูกใช้โปรแกรมเข้าแทรกแซง ซึ่งหากเกิดกรณีดังกล่าวขึ้น บริษัทมีสิทธิ์ในการพิจารณาเพิกถอนคอนเทนต์นั้นๆ เพื่อทำการตรวจสอบถึงข้อเท็จจริง อันนำมาซึ่งประโยชน์ต่อตัวผู้ผลิตคอนเทนต์และความยุติธรรมต่อทางบริษัท
                            ในกรณีที่เป็นคอนเทนต์ผิดกฎหมาย หรือ เข้าข่ายว่าอาจผิดต่อข้อกฏหมายและศีลธรรมอันดีของสังคม หากมีการขอความร่วมมือจากทางเจ้าหน้าที่ เพื่อทำการสอบสวนหาสาเหตุในกรณีดังกล่าว ทางบริษัทสามารถให้ข้อมูลส่วนตัวของผู้ผลิตคอนเทนต์ เพื่อเป็นหลักฐานในการตรวจสอบหาข้อเท็จจริงแก่ทางเจ้าหน้าที่ได้ และจะถือว่าทางผู้ผลิตคอนเทนต์ได้ยินยอมต่อทางบริษัทในการให้ข้อมูลดังกล่าวแก่เจ้าหน้าที่แล้ว
                            เงื่อนไขการพิจารณาเพิกถอนการจ่ายเงินเหล่านี้เป็นไปตามที่บริษัทกำหนด โดยบริษัทสามารถเปลี่ยนแปลงเงื่อนไขดังกล่าวได้ตามความเหมาะสม ซึ่งหากมีการเปลี่ยนแปลงหลักการพิจารณาใดๆทางบริษัทจะแจ้งให้ผู้ผลิตคอนเทนต์ทราบผ่านทาง E-mail ที่ผู้ผลิตคอนเทนต์ได้ทำการยืนยันไว้ในระบบตอนลงทะเบียน
                            </li>
                        </ol>
                    </div>

                    <div class="col-10 offset-1 col-md-8 offset-md-2">
						<h5 class="fs-20 _mgt-25 _cl-gray-12 _tal-ct">ติดต่อ Support</h5>
						<p class="_mgbt-0 _mgt-25 _tal-ct">

							<br> E-Mail :
						</p>
					</div>

                </div>
            </div>
		</div>
    </div>
{{end}}

{{define "main.style"}}
{{end}}