{{define "page.title"}}ข้อกำหนด และเงื่อนไข{{end}}

{{define "app-body"}}
	<div class="container _mgt-20-md">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 _mgbt-30">
                <h1 class="fs-42">ข้อกำหนด และเงื่อนไขเว็บไซต์ richboxclub.com</h1>
				<div class="row _fdrt-cl _bgcl-white _bdrd-2px _cl-gray-11 _pdbt-30">
					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<h2 class="fs-24 fs-28-md fs-36-lg _mgt-48 _mgbt-20 _tal-ct _cl-gray-12">ข้อกำหนด และเงื่อนไข</h2>
					</div>
					<div class="w-100"></div>
					<div class="col-10 offset-1 col-md-8 offset-md-2">
					</div>
					<div class="_w-100pct"></div>

					<div class="col-10 offset-1">
						<div class="_bdw-1 _bdcl-gray-2 _mgv-30"></div>
					</div>

					<div class="col-10 offset-1 _mgbt-50">
						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 1</h5>
						<p class="_mgbt-0">
							เพื่อมิให้เกิดข้อพิพาทใดๆ ก่อนท่านทำการสมัครสมาชิกโปรดอ่านเงื่อนไขอย่างละเอียดก่อนที่ท่านจะทำการสมัคร เมื่อทำการสมัครสมาชิกสำเร็จแล้วจะถือได้ว่าท่านยอมรับเงื่อนไขและข้อกำหนดของเรา
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 2</h5>
						<p class="_mgbt-0">
							สมาชิกมีหน้าที่รักษาความลับของบัญชีและรหัสผ่านของท่าน การวางเดิมพันและการยอมรับโดยทั่วไปจากบัญชีของท่านถือเป็นการเดิมพันที่ถูกต้อง เราขอแนะนำให้สมาชิกอัพเดทรหัสผ่านเป็นประจำ เราจะไม่รับผิดชอบหรือชดเชยให้กับสมาชิกถ้าหากบัญชีของท่านถูกขโมย แอบอ้าง หรือนำไปทำการเดิมพันโดยที่ท่านมิได้เป็นผู้เล่นเอง
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 3</h5>
						<p class="_mgbt-0">
							ในการสมัครสมาชิก เราขอสงวนสิทธิ์ความเป็นเจ้าของ ให้กับบัญชีผู้สมัครที่สามารถยืนยันตนเองด้วยบัตรประชาชน ซึ่งต้องเป็นบุคคลเดียวกันกับ ชื่อ – นามสกุล ของบัญชีธนาคารที่ท่านได้ทำการส่งให้เราในตอนใช้สมัครสมาชิก
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 4</h5>
						<p class="_mgbt-0">
							กรณีการถูกผู้อื่นนำ ชื่อ – นามสกุล – บัญชีธนาคาร และข้อมูลส่วนตัวอื่นๆของตัวท่านเอง มาใช้แอบอ้างในการสมัครสมาชิก ทางเราไม่มีส่วนรับผิดชอบใดๆ ในทุกกรณี
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 5</h5>
						<p class="_mgbt-0">
							การใช้เบอร์โทรศัพท์ ในการสมัครสมาชิก หากเบอร์โทรศัพท์ของท่านถูกบุคคลอื่นได้นำมาสมัครเป็นสมาชิกอยู่ก่อนแล้ว ทางเราไม่มีส่วนรับผิดชอบใดๆ ในทุกกรณี
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 6</h5>
						<p class="_mgbt-0">
							การเกิดข้อพิพาทใดๆในการแอบอ้างเป็นบุคคลอื่นในการใช้งาน ทางเราขอสงวนสิทธิ์ในการพิจารณาอาญัติหรือเพิกถอนบัญชีสมาชิกของบุคคลนั้น โดยไม่มีส่วนรับผิดชอบใดๆ ในทุกกรณี
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 7</h5>
						<p class="_mgbt-0">
							เราขอสงวนข้อพิพาทและการตัดสินใจเกี่ยวกับนโยบายการเปลี่ยนแปลงบทความและกฎของเกมส์ การแก้ไขหรือเปลี่ยนแปลงใดๆ ในข้อตกลงดังกล่าวจะมีผลทันทีเมื่อมีการประกาศ ข้อมูลการเปลี่ยนแปลงทั้งหมดจะถูกอัพเดทผ่านข่าวสารหน้าเว็บไซต์ของเรา
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 8</h5>
						<p class="_mgbt-0">
							การสมัครเป็นสมาชิกเพื่อเข้าใช้บริการ ต้องมีอายุเกินกว่าที่กฎหมายกำหนดก่อนที่จะดำเนินกิจกรรมใดๆกับทางเรา
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 9</h5>
						<p class="_mgbt-0">
							การวางเดิมพันในเกมส์ของเรา เมื่อสมาชิกได้ทำการกดปุ่มใดๆ ที่ใช้ยืนยันการเดิมพันของท่านแล้ว เท่ากับว่าท่านได้จงใจสั่งการให้ระบบของเกมส์ดังกล่าวเริ่มทำงาน เมื่อระบบได้เริ่มทำงานแล้วหากสมาชิกทำการปิดหน้าเว็บไซต์ของตัวเกมส์ลง อาทิเช่น เผลอปิดหน้าเว็บ อินเทอร์เน็ตหลุด อุปกรณ์ที่ใช้เล่นแบตเตอรี่หมด เป็นต้น การหลุดจากหน้าเว็บไวต์ของตัวเกมส์ที่ท่านกำลังเล่นอยู่ ไม่ว่ากรณีใดก็ตาม ทางเราจะถือว่าท่านได้ทำการเดิมพันไปแล้ว เมื่อท่านทำการล็อกอินกลับเข้ามา ท่านจะทราบผลการเล่นจากจำนวนเงินเครดิตที่ท่านเหลืออยู่
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 10</h5>
						<p class="_mgbt-0">
							ในกรณีที่มีปัจจัยภายนอกเช่นการเชื่อมต่ออินเตอร์เน็ตไม่ดี ข้อผิดพลาดในการเชื่อมต่อ ฮาร์ดแวร์ไม่ดี ฯลฯ ซึ่งอาจทำให้เกิดความแตกต่างระหว่างผลลัพธ์และฐานข้อมูลของเรา ผลลัพธ์สุดท้ายจะขึ้นอยู่กับข้อมูลที่ได้บันทึกไว้ในฐานข้อมูลของเรา
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 11</h5>
						<p class="_mgbt-0">
							สมาชิกได้อนุญาติให้เราบันทึกการออนไลน์และกิจกรรมการเดิมพันทั้งหมดของท่าน และเมื่อเกิดเหตุใดๆทางเราจะพิจารณาตามบันทึกดังกล่าวเมื่อมีข้อพิพาทเกิดขึ้น
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 12</h5>
						<p class="_mgbt-0">
							ในกรณีที่เราค้นพบวิธีการเล่นของสมาชิกที่ไม่เหมาะสมเช่น ใช้ Plug-in, โปรแกรมช่วยเล่นต่างๆ และการแฮ็คระบบของเกมส์ หรือใช้บุคคลทางกฎหมายของผู้ที่ดำเนินกิจกรรมในการเดิมพัน อันเป็นการก่อให้เกิดความเสียหายแก่ทางบริษัทของเรา ทางเราขอสงวนสิทธิ์ในการอาญัติหรือยกเลิกบัญชีของสมาชิกคนดังกล่าว โดยมิต้องแจ้งให้ทราบล่วงหน้า
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 13</h5>
						<p class="_mgbt-0">
							กรณีสมาชิกที่มีหลายบัญชี ทางเราขอสงวนสิทธิ์แต่เพียงผู้เดียวในการยกเลิกหรือเรียกคืน”โบนัสและเงินรางวัลที่ได้จากโบนัส”ของสมาชิกทั้งหมด การสมัครสมาชิกหากมีการระบุ ที่อยู่/อีเมลล์/หมายเลขโทรศัพท์/ธนาคาร/หมายเลขบัตรเครดิต/การเชื่อมต่ออินเตอร์เน็ตควรมีเพียงหนึ่งบัญชีเท่านั้น โปรโมชั่นและโบนัสทั้งหมดออกแบบมาเหมาะสมสำหรับบัญชีที่ไม่ซ้ำกัน
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 14</h5>
						<p class="_mgbt-0">
							ทางเราขอสงวนการอนุญาติให้เข้าเป็นสมาชิกของทางเว็บไซต์แก่ผู้เข้าสมัครบางท่าน ที่มีสถานะไม่น่าไว้วางใจและมีแนวโน้มที่จะสร้างความเสียหายให้แก่ทางบริษัท โดยทางเราไม่จำเป็นต้องแจ้งผลการสมัครให้แก่ผู้สมัครคนดังกล่าวทราบ
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อ 15</h5>
						<p class="_mgbt-0">
							หากทางเราตรวจพบบุคคลที่มีพฤติกรรมรบกวนผู้เล่นคนอื่น หรือกระทำการใดๆ ที่มีแนวโน้มจะก่อให้เกิดความรำคาญ ความขัดแย้ง อันเป็นการสร้างความเดือดร้อนแก่ผู้เล่นคนอื่นและเว็บไซต์ ทางเราขอสงวนสิทธิ์ในการพิจารณาบทลงโทษแก่บุคคลนั้นโดยมิจำเป็นต้องแจ้งให้ทราบล่วงหน้า
						</p>

					</div>
				</div>
			</div>
		</div>
    </div>
{{end}}

{{define "main.style"}}
{{end}}