{{define "page.title"}}MahaPorn{{end}}

{{define "app-body"}}
{{if and .User.IsSignin .NonFollow}}
	{{template "modal-select-topic"}}
{{end}}
<div class="container _mgt-20-md" id="panan-container">
	<div class="row">
		<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
			<div class="row _fdrt-cl _bgcl-white _bdrd-2px _cl-gray-11 _pdbt-30">
				<div class="col-12 _pdt-20 _tal-ct">

						<button class="btn btn-dark _mgt-5" style="width: 150px;" @click="changeCoin(20, 'coin')" :disabled="isCoin === 20"> <img src="https://storage.googleapis.com/powerwork-bucket/icon/coin.png" alt=""> 20 coin</button>

						<button class="btn btn-dark _mgt-5" style="width: 150px;" @click="changeCoin(50, 'coin')" :disabled="isCoin === 50"> <img src="https://storage.googleapis.com/powerwork-bucket/icon/coin.png" alt=""> 50 coin</button>

						<button class="btn btn-dark _mgt-5" style="width: 150px;" @click="changeCoin(100, 'coin')" :disabled="isCoin === 100"> <img src="https://storage.googleapis.com/powerwork-bucket/icon/coin.png" alt=""> 100 coin</button>

						<button class="btn btn-dark _mgt-5" style="width: 150px;" @click="changeCoin(200, 'coin')" :disabled="isCoin === 200"> <img src="https://storage.googleapis.com/powerwork-bucket/icon/coin.png" alt=""> 200 coin</button>

				</div>

				<div class="col-12 _pdt-10 _tal-ct">

					<button class="btn btn-info _mgt-5 " style="width: 150px;" @click="changeCoin(0, 'bet', true)" :disabled="coin === 0"> <img src="https://storage.googleapis.com/powerwork-bucket/icon/coin.png" alt=""> หัว </button>

					<button class="btn btn-danger _mgt-5" style="width: 150px;" @click="changeCoin(0, 'bet', false)" :disabled="coin === 0"> <img src="https://storage.googleapis.com/powerwork-bucket/icon/coin.png" alt=""> ก้อย </button>

				</div>

				<div class="w-100"></div>

				<div class="_w-100pct"></div>
				<div class="col-10 offset-1">
					<div class="_bdw-1 _bdcl-gray-2 _mgv-30"></div>
				</div>


				<div class="col-10 offset-1 _mgbt-50">
						<div class="table-users">
								<div class="header">รายชื่อผู้โชคดี</div>

								<table cellspacing="0">
								   <tr>
									  <th>username</th>
									  <th>ราคา</th>
									  <th>ได้ / เสีย</th>
									  <th>หัว / ก้อย</th>
								   </tr>
								{{range .UsersBet}}
								   <tr>
									  <td>{{.FirstName}} {{.LastName}}</td>
									  <td>{{.Price}}</td>
									  <td>{{.StatusText}}</td>
									  <td>{{.FrontbackText}}</td>
								   </tr>
								{{ end }}

								</table>
							 </div>
				</div>

			</div>
		</div>
	</div>
</div>
{{end}}

{{define "main.style"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.min.css">

{{end}}

{{define "main.script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/owl.carousel.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

{{end}}
