{{define "page.title"}}ลืมรหัสผ่าน{{end}}

{{define "app-body"}}
	<div class="container-sign _bg-si">

		<div class="container _mgt-70">
			<div class="row">
				<div class="col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-5 offset-lg-6 col-xl-5 offset-xl-6 _dp-f _fdrt-cl">
					<h1 class="_tal-ct _mgbt-30 fs-24">ลืมรหัสผ่าน!</h1>
					<h3 class="fs-18 _fw-700 _mgbt-0 _cl-gray-5">วิธีขอรหัสผ่านใหม่</h3>
					<p class="fs-18 _mgbt-0">
						1. แอด Line@ << link (Logo)
					</p>
					<p class="fs-18 _mgbt-0">
						2. ยืนยันตัวตนกับทางเจ้าหน้าที่
					</p>
					<p class="fs-18 _mgbt-0">
						3. ส่งเบอร์โทรศัพท์ที่ใช้เล่นกับทางเจ้าหน้าที่
					</p>
					<p class="fs-18 _mgbt-0">
						4. รอเจ้าหน้าที่ส่ง Link การจัดการมาให้ข้อมูล
					</p>
					<p class="fs-18 _mgbt-0">
						5. เข้าไปที่ Link นั้นเพื่อทำการเปลี่ยน Password
					</p>
					<a class="_mg-at" href="https://lin.ee/HwjGoCg">
						<img width="200px" height="200px" src="https://storage.googleapis.com/powerwork-bucket/bet/logo/logo_line.png" alt="">
					</a>
					<a class="sign-social fs-14 _tal-ct _dp-b _mgt-25" href="{{route "signin.email"}}">กลับไปเข้าสู่ระบบ</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="word _dp-n _dp-b-lg">
				<!-- <h3 class="fs-20 fs-28-lg fs-36-xl">Let's publish your own idea.</h3>
				<h4 class="fs-14 fs-18-xl _cl-gray-6">“มาร่วมสร้างสรรค์ไอเดียและเปิดให้ทุกคนได้รู้จักคุณ”</h3> -->
			</div>
		</div>

	</div>
{{end}}

{{define "main.script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
{{if .Flash.Has "Success"}}
<script>
	swal({
		title: "ตรวจสอบ Email",
		text: {{.Flash.Get "Success"}},
		icon: "success",
	});
</script>
{{end}}
{{end}}
