{{define "page.title"}}การแจ้งเตือน{{end}}

{{define "app-body"}}
	<div class="container">
		<div class="row">
			<div id="app" class="col-lg-8 offset-lg-2 _bgcl-white _mgt-20-md _pdt-15 _pdt-42-lg _pdbt-50-lg _mgbt-50">
				<div class="row">
					<div class="col-lg-10 offset-lg-1" style="min-height: 600px;">
						<div class="_dp-f _alit-ct _mgbt-24">
							<i class="fas fa-bell _cl-gray-11" style="transform: rotate(-45deg);"></i>
							<h1 class="fs-18 _mgbt-0 _cl-gray-11 _fw-600 _mgl-8">การแจ้งเตือน</h1>
						</div>
						<div class="_dp-f _mgbt-16">
							<div class="_bdrd-5px _bdcl-gray-5 _bdw-1 _dp-f _ovf-hd">
								<div class="_pdh-8 _pdv-3 _cs-pt" @click="type = 0"
								:class="{ '_bgcl-yellow-3': type === 0 }">
									<i class="fs-13 _cl-gray-11 fal fa-heart"></i>
								</div>
								<div class="_pdh-8 _pdv-3 _cs-pt" @click="type = 1"
								:class="{ '_bgcl-yellow-3': type === 1 }">
									<i class="fs-13 _cl-gray-11 fal fa-comment-alt"></i>
								</div>
								<div class="_pdh-8 _pdv-3 _cs-pt" @click="type = 2"
								:class="{ '_bgcl-yellow-3': type === 2 }">
									<i class="fs-13 _cl-gray-11 fal fa-user-plus"></i>
								</div>
							</div>
							<div class="_mgl-at _dp-f _alit-fe _cs-pt">
								<span class="fs-13 _cl-blue-2" @click="readAll">อ่านแล้วทั้งหมด</span>
							</div>
						</div>
						<div v-cloak>
							<a class="_cs-pt _dp-f _tdcrt-n _pd-12 _bdbtw-1 _bdcl-gray-2 _pst-rlt _mgh--10 _mgh-0-md"
							:class="{ 'unread' : !n.read }" :href="getLink(n.postID, n.gap.username)" @click="readNoti(n.id, n.read)" v-for="n in listNoti">
								<div v-cloak class="_pst-rlt _mgr-16 _h-fct _f-s0">
									<img class="_bdrd-50pct img-fluid avatar-bd" :src="n.user.display" style="width: 40px;height: 40px;">
									<div class="_w-24 _h-24 _bdw-1 _bdcl-white _pst-asl _bdrd-50pct _dp-ilf" style="right: 0;bottom: 0;">
										<img class="img-fluid _bdrd-50pct" :src="n.gap.display">
									</div>
								</div>
								<div class="_w-100pct">
									<div class="_dp-f _alit-bl _fw-w" style="line-height: 1.1;" v-if="n.type === 0">
										<div style="width: 89%;">
											<span class="fs-13 _fw-600 _cl-gray-10">${n.user.name}</span>
											<span class="fs-13 _cl-gray-10" v-if="n.count > 0">กับอีก ${n.count} คน</span>
											<span class="fs-13 _cl-gray-10">ถูกใจ</span>

											<span class="fs-13 _cl-gray-10">“${n.title}”</span>
											<span class="fs-13 _cl-gray-10">ที่เพจ</span>
											<span class="fs-13 _fw-600 _cl-gray-10">${n.gap.name}</span>
										</div>
									</div>
									<div class="_dp-f _alit-bl _fw-w" v-else-if="n.type === 1">
										<div style="width: 89%;">
											<span class="fs-13 _fw-600 _cl-gray-10">${n.user.name}</span>
											<span class="fs-13 _cl-gray-10">ให้ความคิดเห็น</span>
											<span class="fs-13 _cl-gray-10" v-if="n.commentText">“${n.commentText}”</span>
											<span class="fs-13 _cl-gray-10">ที่ “${n.title}”</span>
											<span class="fs-13 _cl-gray-10">เพจ</span>
											<span class="fs-13 _fw-600 _cl-gray-10">${n.gap.name}</span>
										</div>
									</div>
									<div class="_dp-f _alit-bl _fw-w" v-else-if="n.type === 2">
										<div style="width: 89%;">
											<span class="fs-13 _fw-600 _cl-gray-10">${n.user.name}</span>
											<span class="fs-13 _cl-gray-10" v-if="n.count > 0">กับอีก ${n.count} คน</span>
											<span class="fs-13 _cl-gray-10">ติดตามเพจ</span>
											<span class="fs-13 _fw-600 _cl-gray-10">${n.gap.name}</span>
										</div>
									</div>

									<div class="_dp-f _alit-bl _mgt-5">
										<div class="fs-12 _cl-gray-6">${n.time}</div>
									</div>
								</div>
								<div class="badge-noti">
									<i class="fs-13 _cl-gray-9 _mgbt-5 fal fa-heart" v-if="n.type === 0"></i>
									<i class="fs-13 _cl-gray-9 _mgbt-5 fal fa-comment-alt" v-else-if="n.type === 1"></i>
									<i class="fs-13 _cl-gray-9 _mgbt-5 fal fa-user-plus" v-else-if="n.type === 2"></i>
								</div>
							</a>
						</div>
						<div v-cloak class="_dp-f _fdrt-cl _alit-ct _jtfct-ct _mgt-0 _mgt-50-md _mgt-100-lg" v-if="noData">
							<i v-cloak class="fs-80 fas fa-bell _cl-gray-2" style="transform: rotate(-45deg);"></i>
							<h3 v-cloak class="fs-18 _fw-600 _cl-gray-5 _mgt-20">ไม่มีการแจ้งเตือน</h3>
						</div>
						<div class="_dp-f _fdrt-cl _alit-ct _jtfct-ct _mgv-10" v-if="hasList">
							<a v-cloak
							v-if="!noMore"
							class="_pdh-20 _bdcl-gray-9 _cl-gray-9 _cl-gray-10-hover _bgcl-gray-2-hover fs-13 _bdrd-50px"
							@click="getListNoti">ดูเพิ่มเติม</a>
							<h3 class="fs-13 _cl-gray-8" v-if="noMore">ไม่มีแจ้งเตือนเพิ่มเติม</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}
{{define "main.script"}}
<script>
	new Vue({
		el: '#app',
		data() {
			return {
				routeAjaxNoti: {{route "ajax.notification.list.type"}},
				routeAjaxReadNoti: {{route "ajax.notification.read"}},
				routeAjaxReadAllNoti: {{route "ajax.notification.read.all"}},
				routeGap: {{route "gap"}},
				listNoti:[],
				next: new Date(0),
				type: 0,
				link: '',
				noMore: false,
				noData: false
			}
		},
		mounted() {
			this.getListNoti()
		},
		watch: {
			type() {
				this.listNoti = []
				this.next = new Date(0)
				this.noMore = false
				this.getListNoti()
			}
		},
		computed: {
			hasList() {
				if(this.listNoti === null) return false
				return this.listNoti.length > 0
			}
		},
		methods: {
			getListNoti() {
				axios.post(this.routeAjaxNoti, {
					next: this.next,
					type: this.type
				},{
					withCredentials: true
				}).then(res => {
					if (res.status === 200) {
						this.next = res.data.next
						this.listNoti = this.listNoti.concat(res.data.notification)
						this.noData = false
						if(!res.data.isNext) {
							this.noMore = true
						}
					} else if (res.status === 204) {
						this.listNoti = []
						this.noData = true
					}
				}).catch(err => {
					this.noData = true
				})
			},
			readNoti(notiID, read) {
				if (read) return
				axios.post(this.routeAjaxReadNoti, {
					id: notiID
				}, {
					withCredentials: true
				})
			},
			readAll() {
				axios.post(this.routeAjaxReadAllNoti,{ withCredentials: true }).then(() => {
					location.reload()
				})
			},
			getLink(postID, username) {
				if(this.type === 0 || this.type === 1) {
					return '/post/' + postID
				}
				return  this.routeGap + username
			}
		}
	})
</script>
{{end}}