{{define "page.title"}}สมัครสมาชิก{{end}}

{{define "app-body"}}
	<div class="container-sign _bg-si">

		<div class="container _mgt-70">
			<div class="row">
				<div class="col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-5 offset-lg-6 col-xl-5 offset-xl-6 _dp-f _fdrt-cl">
					<h1 class="_tal-ct fs-24">สมัครสมาชิก</h1>
					<h3 class="_tal-ct fs-14 _mgbt-30 _cl-gray-5">สมัครสมาชิกติดต่อเจ้าหน้าที่ทาง Line@ เท่านั้น</h3>
					<p class="fs-18 _mgbt-0">ขั้นตอนการสมัครชิก</p>
					<p class="fs-16 _mgbt-5">1. แอด Line@
						<a href="https://lin.ee/HwjGoCg">
							<img width="40px" height="40px" src="https://storage.googleapis.com/powerwork-bucket/bet/logo/logo_line.png" alt=""> <<  คลิกเพื่อแอด Line
						</a>
					</p>
					<p class="fs-16 _mgbt-5">2. ติดต่อเจ้าหน้าที่เพื่อขอรับเลขบัญชีใหม่ (เลขบัญชีจะเปลี่ยนทุกๆวัน กรุณาขอเจ้าหน้าที่ใหม่ทุกครั้ง)</p>
					<p class="fs-16 _mgbt-5">3. พิมพ์เบอร์โทรศัพท์ของคุณและส่งให้เจ้าหน้าที่</p>
					<p class="fs-16 _mgbt-5">4. ส่งรูปหลักฐานการโอนเงิน</p>
					<p class="fs-16 _mgbt-5">5. รับรหัสผ่านเพื่อเข้าสู่ระบบทันที</p>

					<p class="fs-16 _mgbt-10">ผู้เล่นต้องการใช้โปรโมชั่น กรุณาบอกทางเจ้าหน้าที่เพื่อรับสิทธิ์ของท่าน</p>
					<p class="fs-12 _mgbt-0">เมื่อทำการสมัครสมาชิกถือว่าท่านได้ยอมรับข้อตกลง เงื่อนไข นโยบายความเป็นส่วนตัวของทางเรา และยืนยันว่าท่านได้บรรลุนิติภาวะเป็นที่เรียบร้อย</p>
					<a class="fs-12 _mgt-15" href="{{route "condition"}}">ข้อกำหนัด และเงื่อนไข</a>
					<a class="_tal-ct" href="https://lin.ee/HwjGoCg">
						<img width="200px" height="200px" src="https://storage.googleapis.com/powerwork-bucket/bet/logo/logo_line.png" alt="">
					</a>
					<p class="fs-18 _mgt-20">ตัวอย่างการสมัคร</p>
					<div class="col-12 _mgt-10">
						<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/ads/stock-vector-line-user-interface-chat-template-1157563741.png" alt="">
					</div>
					<a class="sign-social fs-14 _tal-ct _dp-b _mgt-25" href="{{route "signin.email"}}">กลับไปเข้าสู่ระบบ</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="word _dp-n _dp-b-lg">
				<!-- <h3 class="fs-20 fs-28-lg fs-36-xl">Let's publish your own idea.</h3>
				<h4 class="fs-14 fs-18-xl _cl-gray-6">“มาร่วมสร้างสรรค์ไอเดียและเปิดให้ทุกคนได้รู้จักคุณ”</h3> -->
			</div>
		</div>

	</div>
{{end}}

{{define "main.script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
{{if .Flash.Has "Success"}}
<script>
	swal({
		title: "ตรวจสอบ Email",
		text: {{.Flash.Get "Success"}},
		icon: "success",
	});
</script>
{{end}}
{{end}}
