{{define "page.title"}}เข้าสู่ระบบ{{end}}

{{define "app-body"}}

	<div class="container-sign _bg-si">
		<div class="container _pdh-0 _mgt-70">
			<div class="row">
				<div class="col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-5 offset-lg-6 col-xl-5 offset-xl-6 _dp-f _fdrt-cl _alit-ct">
					<h1 class="_tal-ct fs-24 _mgbt-30">เข้าสู่ระบบ</h1>
					<div class="signin_box _pd-30 _pdh-70-lg _pdv-50-lg _pdh-100-lg">
						<span class="_cl-gray-8">เลือกเข้าสู่ระบบด้วย...</span>
						<div id="gtm-link" data-gtm-link="siw_facebook">
							<a class="signin-btn fb _mgt-10 _mgbt-15" href="{{route "signin.facebook"}}">
								<!-- <div class="icon-wrap">
									<img src="https://storage.googleapis.com/powerwork-bucket/static/web/facebook_logo.png" alt="facebook login"
									srcset="https://storage.googleapis.com/powerwork-bucket/static/web/facebook_logo2x.png 2x">
								</div> -->
								<span class="text">Facebook</span>
							</a>
						</div>
						<!-- <div id="gtm-link" data-gtm-link="siw_google">
							<a class="signin-btn gg _mgbt-15" href="{{route "signin.google"}}">
								<div class="icon-wrap">
									<img src="https://storage.googleapis.com/powerwork-bucket/static/web/google_plus_logo.png" alt="facebook login"
									srcset="https://storage.googleapis.com/powerwork-bucket/static/web/google_plus_logo%402x.png 2x">
								</div>
								<span class="text">Google</span>
							</a>
						</div> -->
						<div id="gtm-link" data-gtm-link="siw_email">
							<a class="signin-btn _mgbt-50" href="{{route "signin.email"}}">
								<!-- <div class="icon-wrap">
									<img src="https://storage.googleapis.com/powerwork-bucket/static/web/icon_email.png" alt="facebook login"
									srcset="https://storage.googleapis.com/powerwork-bucket/static/web/icon_email%402x.png 2x">
								</div> -->
								<span class="text email">Email</span>
							</a>
						</div>
					</div>
					<div class="_tal-ct" id="gtm-link" data-gtm-link="siw_google">
						<a class="btn btn-outline-white _cl-white _bdcl-gray-6-hover _cl-gray-6-hover _pdh-55 _mgt-35 _bdrd-50px" href="{{route "signup"}}">ลงทะเบียน ฟรี</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="word _dp-n _dp-b-lg">
				<!-- <h3 class="fs-20 fs-28-lg fs-36-xl">ยินดีต้นรับเข้าสู่ mahaporn.com</h3>
				<h4 class="fs-14 fs-18-xl _cl-gray-6">“มาร่วมเป็นส่วนหนึ่งกับ D12ojinxxx</h3> -->
			</div>
		</div>

	</div>
{{end}}
