{{define "page.title"}}Public{{end}}

{{define "app-body"}}
<div class="container _mgt-50">
    <div class="row _jtfct-ct">
        <div class="col-md-10">
            <textarea class="_cl-gray-11" name="content" id="editor"></textarea>
        </div>
    </div>
</div>
{{end}}

{{define "main.script"}}
    <script src="/-/ckeditor5/ckeditor.js?aa=aa"></script>
    <script src="{{static "/js/editor.js"}}"></script>
{{end}}