{{define "page.title"}}หัวข้อ{{end}}

{{define "app-body"}}
<div class="container _mgt-20">
	{{template "topic-small" .}}
</div>

<div id="post-container" class="content _mgt-20">
	<div class="container _mgbt-50 _pdh-0-sm _pdh-10-lg" :class="{'_mh-1000': !hasPost && isAjax}">
		<div class="row _mgbt-15">
			<div class="col">
				<h1 class="page-title fs-24 fpt _mgbt-0">{{.Topic.Name}}</h1>
			</div>
		</div>
		<div class="row content-post _mgt-15 _mgt-25-lg" ref="postList">
			{{template "post-item"}}
		</div>
		<div v-cloak class="_mh-80">
			<infinite-loading @infinite="infiniteHandler" ref="infiniteLoading" spinner="spiral" :distance="300">
				<div slot="no-results">
					<h5 class="_cl-white _tal-ct fs-14">ยังไม่มีคอนเทนต์ในหัวข้อ {{.Topic.Name}}</h5>
				</div>
				<div slot="no-more">
					<h5 class="_cl-white _tal-ct fs-14">ไม่มีคอนเทนต์เพิ่มเติม</h5>
				</div>
			</infinite-loading>
		</div>
	</div>
</div>
<div class=" _mgt-20 _mgl-10 _mgr-10">
		<p class="fs-14 fs-14-lg fs-14-xl _cl-gray-12">โดจินโป๊ อ่านโดจินx</p>
		<!-- <p class="fs-12 fs-12-lg fs-12-xl _cl-gray-12">ในปัจจุบันนี้มีความรื่นรมย์ในการเสพสื่อมากขึ้น ทั้งงานคอนเท้นแนวบรรยาย งานคลิปวีดีโอ ภาพเคลื่อนไหวต่างๆ รวมไปถึงคอนเทนรูปภาพต่างๆ ไม่ว่าจะเป็น แนว รูปภาพ นักศึกษา  Sexy ชุดว่ายน้ำ  สาวน่ารัก  คอสเพลย์ และ นางแบบต่างประเทศ  ซึ่งแนวนี้เองต่างต่างเป็นที่ชื่นชอบในการติดตามค้นหาวาร์ปของ เหล่าผู้ชมที่ชื่นชอบ ในการติดตาม เหล่าบุคลที่ชอบ อีกมากมาย แม้ว่าในปัจจุบัน การติดตามผู้คนที่เราสนใจนั้นเป็นเรื่องง่าย แต่จะดีกว่าไหม ถ้าเราได้รวมทั้งหมดนั้นใว้ในเว็ปเราเรียบร้อยแล้ว ด้วยเหตุนี้ไม่ว่า จะเป็นบุคลในวงการไหนที่คุณชื่นชอบและอยากติดตามแต่ไม่สามารถสามารถตามหาได้เราจึงเป็นสื่อกลางในการตามหา
			ผู้คนเหล่านั้นมาเซิร์ฟให้คุณถึงที่กันเลย ทางเราหวังว่า เว็ปไซด์นี้ จะเป็นอีกหนึ่งศูณย์รวมการแบ่งปัน อีกแหล่งหนึ่งที่จะทำให้ทุกท่านได้มีส่วนร่วมในการ แชร์ข้อมูลให้กันและกันมากยิ่งขึ้น</p>
			<h2 class="fs-14 fs-14-lg fs-14-xl _cl-gray-12">เว็ปไซด์ที่รวม เหล่า นางแบบชื่อดังทั้งไทย และ ต่างประเทศ เน็ตไอดอลชื่อดัง และสาวๆน่ารักอีกมากมาย</h2>
		<p class="fs-12 fs-12-lg fs-12-xl _cl-gray-12">ในทุกวันนี้ เว็ปไซด์ รวมรูปภาพ นักศึกษา  Sexy ชุดว่ายน้ำ  สาวน่ารัก  คอสเพลย์ และ นางแบบต่างประเทศ มีปริมาณน้อย ส่วนใหญจะถูกทำเป็นแฟนเพจ หลอกหนังสือ หรือ ในสตาแกม ซึ่งเป็นเพจ เปิด หรือ ปิด มากมาย แต่ไม่ใช่พื้นที่ๆใครก็สามารถ นำรูปบุคลที่ตัวเองสนใจมาลงได้ เราจึงอยากเชื่อมยงทุกคนที่มีความชื่นชอบเหมือนกัน เข้ามาใช้บริการในเว็ปไซด์ของเรา มากยิ่งขึ้น และสร้างชุมชนที่ยิ่งใหญ่ และ แข็งแรงมากขึ้นในภายภาคหน้าอีกด้วย ทั้งนี้เว็ปไซด์ของเรายังมีความสดใหม่ของคอนเทนต์ ที่สามารถรับชมได้ทุกช่องทาง ไม่ว่าจะเป็น คอมพิวเตอร์ส่วนบุคล โทรศัพท์ และ ไอแพท และยังสามารถดูได้ทุกช่องทางได้สะดวกขึ้น แค่เพียงเชื่อมต่อกับอินเตอร์เน็ต ซึ่งเมื่อพูดถึงอินเตอร์เน็ตแล้ว ก็สามารถเข้าถึงง่ายพอๆกับ เว็บน้องพรนี้เลย ทำให้สะดวกเข้าไปใหญ่ ทั้งเชื่อต่อผ่าน edge gprs Bluetooth,wifi ,3g,4g,5g</p>
		<h3 class="fs-14 fs-14-lg fs-14-xl _cl-gray-12">ภาพหลุด เน็ตไอดอล ไอจีเน็ตไอดอล ภาพหลุดVK รูปพริ้ตตี้ หลุดไอดอล หลุดนางแบบ เด็กมหาลัย</h3>
		<p class="fs-12 fs-12-lg fs-12-xl _cl-gray-12">AML เว็ปไซด์แหล่งรวมรูปภาพเพื่อคุณ เปิดวาร์ป นักศึกษา สาวมหาลัย วาร์ป เน็ตไอดอล นางแบบ Sexy คอสเพลร์ และอื่นๆอีกมากมาย กดวาร์ปนักศึกษา ติดตามเว็บไซต์เพื่อเป็นกำลังใจให้ทีมงานสร้างผลงานดีๆมาต่อไปนะจ๊ะติดตามรูป นักศึกษา เน็ตไอดอล นางแบบ นางแบบต่างประเทศ ได้ที่นี้ที่เดียว Allmenlife com
				จึงเป็นเรื่องที่เข้าถึงง่ายมาก เสพกันได้ตามใจชอบ ทั้งงานศิลป์ งานนัว งานภาพหลุด ตามที ดังที่เห็นในสื่อ Social Network ทั้งหลาย มีเน็ตไอด้อลมาเต้นโชว์สัดส่วน โชวเต้ากันให้อร่ามตา
				เรียกได้ว่าแทบไม่ต้องไปเสียเงินที่ไหนอีกแล้ว สามารถเข้าเน็ตเพื่อดูในเว็บหรือในเฟสบุ้คได้ในทันที แต่ทั้งนี้การที่จะดูมันมากไปก็อาจส่งผลเสียต่อการใช้ชีวิตได้ ทางที่ดีควรดูแค่บางเวลาเท่านั้นจะดีกว่า เพื่อความปลอดภัยในสุขภาพ และมือของท่านเองด้วยนะครับ haha</p>
		<h4 class="fs-14 fs-14-lg fs-14-xl _cl-gray-12">Picนักศึกษา Picสาวน่ารัก PicสาวSexy Picสาวคอสเพลย์ Picชุดว่ายน้ำ Picนางแบบต่างประเทศ</h4>
		<p class="fs-14 fs-14-lg fs-14-xl _cl-gray-12">แม้ว่าในหลายๆประเทศจะมีการทำเช่นนี้ กันมากมาย แล้วแต่ในสำหรับในประเทศเรายัง คงมีปัญหาในการเลือกใช้รูปภาพ ของบุคลอื่นอยู่มาก เราจึงอยากเปลี่ยนพฤติกรรม ของกลุ่มผู้เป็นเจ้าของรูปให้เช้าใจถึง เหตุผลในการนำรูปของบุคลนั้นมาใช้ในเว็ปไซด์ของเราโดย ทางเว็ปไซด์มิได้มีเจตนาที่จะทำลายชื่อเสียงหรือ ทำให้เจ้าของภาพ เสียหายแต่อย่างได แต่ ทางทีมเพียงแค่ต้องการ เป็นอีกหนึ่งช่องทางที่จะช่วยเป็นสื่อกลาง ละหว่างกลุ่ม ผู้ชมและตัว ไอดอลเจ้าของ ภาพ เพื่อให้เกิด Volum ที่จะสามารถช่วยให้ ผู้ที่้เป็นเจ้าของรูป ได้รับ ยอด Follower หรือ ยอดติดตามเพื่มขึ้นเพื่อให้เกิดการติดตาม มากขึ้น และ เรายังอยากเป็นส่วนหนึ่งของการ สร้าง เน็ตไอดอลรุ่นใหม่ให้เกิดขึ้นใน เว็ปไซด์ของเราอีกด้วย ทั้งนี้ทุกสิ่งจะเกิดขึ้นได้ก็ต้องหวังการมีส่วนร่วมกัน ระหว่าง ผู้ชม เจ้าของภาพ และตัวเจ้าของเพจ เอง เพื่อให้เกิดสิ่งนี้ ขึ้นจริง
			เราหวังว่า ทุกท่านจะเข้าใจในเจตนาของเรา และเข้ามาร่วมเป็นส่วนหนึ่งใน คอมมูนิตี้ของเราด้วย ทั้งนี้ ทางเราก็หวังว่า กลุ่มผู้ชมที่น่ารักของเรา จะร่วมแบ่งปันสิ่งดีๆ ให้เกิดขึ้นบนเว็ปไซด์ของเรา ให้เกิดกลายเป็นคอมมูนิตี้ที่มั่นคงต่อไปในภายภาคนะ นะจ๊ะ Thank you For Averyone I love Aceryone Jub Jub</p>
		<h5 class="fs-14 fs-14-lg fs-14-xl _cl-gray-12">ภาพส่วนตัววีเค อายจี หนังสือหลอกลวง ภาพหลุด ภาพลับ</h5>
		<p class="fs-14 fs-14-lg fs-14-xl _cl-gray-12">สำหรับท่านใด ที่สนใจอยากจะเป็นส่วนหนึ่งของเว็ปไซด์ของเรา ก็ร่วมกันแชร์คอนเทนต์ที่น่าสนใจเข้ามาหาเรา หรือ ร่วมเป็นส่วนหนึ่งกับเราโดยการบริจาก หรือ โดเนตเว็ปไซด์ของเราเพื่อเป็นกำลังใจเรา พวกเราทีมงาน AML ได้โดยการติดต่อพวกเราทีมงานได้โดนการ คลิกไปที่เมนู เลือกติดต่อเรา ส่งข้อมูลอันมีค่าของท่างมาทางเรา เราจะทำให้สินค้าและบริการของท่าน เป็นที่พบเห็นของบุคลมากมาย แหละ สร้างยอดขายเพื่มให้ท่านได้แน่นอน ถ้าท่าน สนใจบริการของเรา อย่าลืม ติดต่อ เราเข้ามา เรามั่นใจ ว่า เว็ปไซด์ของเรา ไม่ทำให้ท่านผิดหวังแน่นอน ถ้าท่านเป็นเครือข่าย เว็ปพนัน คาบาร่า คาซิโน เว็ปบอล แทงบอล Slot หวย มวย หรือเว็ปคาสิโน เรากำลังรอท่านอยู่ อย่าลืม ชาบู 99 อร่อยมาก</p>
		<h6 class="fs-14 fs-14-lg fs-14-xl _cl-gray-12">เว็บไซด์ AML Allmenlife แหล่งรวม วาร์ปสาวสวย เน็ตไปดอล พริ้ตตี้ นางแบบ นู๊ต โป๊ </h6>
		<p class="fs-14 fs-14-lg fs-14-xl _cl-gray-12">โปรดจงมันใจว่าเว็ปไซด์ของเราจะเราให้คุณเพลิดเพลินไปกับประสบการณ์ใหม่ ในการตามหาเน็ตไอดอล นางแบบ พริ๊ตตี้ ทั้งไทยและต่างประเทศ
				เราหวังว่าทุกท่านจะมีความสนุกเพลิดเพลิน จะเรินหูจะเรินตา มากมายก่ายกอง มากกว่ากองใดๆ ที่ได้ยินมาใน โลกล่า ไม่ว่าจะเป็นหมู เห็ด เป็ดไก่ หรือวัวนมพันธุ์ดี ที่กินที่ ละฟิ๊นๆ นะบอกเลย อุอิ คุคิ อิอิ เลิฟๆ จุ๊ฟๆ</p> -->
	</div>
{{end}}

{{define "main.style"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.min.css">
{{end}}

{{define "main.script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/owl.carousel.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const topic = $('.owl-topic')

		topic.owlCarousel({
			loop: false,
			nav: false,
			dots: false,
			margin: 10,
			autoWidth: true,
			slideBy: 3
		})
		// Go to the next item
		$('.ctrl-carousel.ctrl-topic.next').click(function() {
			topic.trigger('next.owl.carousel', [300])
		})
		// Go to the previous item
		$('.ctrl-carousel.ctrl-topic.previous').click(function() {
			topic.trigger('prev.owl.carousel', [300])
		})

	}) // end
</script>
{{end}}