{{define "page.title"}}เติมเงิน{{end}}

{{define "app-body"}}
	<div class="container _mgt-20-md">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				<div class="row _fdrt-cl _bgcl-white _bdrd-2px _cl-gray-11 _pdbt-30">
					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<h1 class="fs-28 fs-30-md fs-48-lg _mgt-48 _mgbt-20 _tal-ct _cl-gray-12">วิธีการเติมเงิน</h1>
					</div>
					<div class="w-100"></div>
					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<p class="fs-18 _mgbt-0">
							1. แอด Line@ << link (Logo)
						</p>
						<p class="fs-18 _mgbt-0">
							2. ติดต่อเจ้าหน้าที่เพื่อขอรับเลขบัญชีใหม่ (เลขบัญชีจะเปลี่ยนทุกๆวัน กรุณาขอเจ้าหน้าที่ใหม่ทุกครั้ง)
						</p>
						<p class="fs-18 _mgbt-0">
							3. ส่งเบอร์โทรศัพท์ที่ใช้เล่นกับทางเจ้าหน้าที่
						</p>
						<p class="fs-18 _mgbt-0">
							4. เลือกโปรโมชั่นที่คุณต้องการ
						</p>
						<p class="fs-18 _mgbt-0">
							5. ส่งรูปหลักฐานการโอนเงิน
						</p>
						<p class="fs-18 _mgbt-0">
							6. รอรับ Wallet และ Bonus (ภายใน 5-10 นาที)
						</p>

					</div>
					<div class="_w-100pct"></div>
					<div class="col-10 offset-1">
						<div class="_bdw-1 _bdcl-gray-2 _mgv-30"></div>
					</div>

					<div class="col-10 offset-1 _mgbt-50">
						<h3 class="fs-28 _fw-600 _cl-gray-12 _mgbt-0">ข้อมูลที่เรารวบรวม</h3>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อมูลส่วนบุคคล</h5>
						<p class="_mgbt-0">
							คือข้อมูลที่คุณให้กับเราเมื่อสมัครบัญชีเพื่อเข้าใช้งาน เช่น ชื่อ นามสกุล อายุ เพศ หมายเลขโทรศัพท์ E-mail
							ความสนใจของคุณ รวมถึงหมายเลขประจำตัวประชาชนเมื่อคุณต้องการเผยแพร่เนื้อหาในรูปแบบ“สาธารณะ”
							ช่วงเวลาที่คุณเข้าสู่ระบบ – ออกจากระบบ และสถิติการกดปุ่มตัวเลือกต่างๆภายในเว็บไซต์ของเรา
						</p>
						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อมูลอุปกรณ์ของคุณ</h5>
						<p class="_mgbt-0">
							เรารวบรวมข้อมูลบางอย่างที่เกี่ยวข้องกับคอมพิวเตอร์หรืออุปกรณ์ที่คุณใช้ เช่น หมายเลขเครื่อง IP ที่คุณใช้งาน
							เว็บบราวเซอร์ที่คุณใช้เปิดเว็บไซต์ของเรา
						</p>
						<h5 class="fs-20 _mgt-25 _cl-gray-12">ข้อมูลที่ถูกกำหนดตามกฏหมาย</h5>
						<p class="_mgbt-0">
							เราจำเป็นต้องรวบรวมข้อมูลการจราจรทางคอมพิวเตอร์ตามกฏหมายคอมพิวเตอร์ ซึ่งกำหนดให้ต้องเก็บข้อมูล
							การเข้าใช้งานของคุณ เช่น เวลาเข้า – ออก หมายเลขเครื่องที่ทำการเข้า – ออก เว็บไซต์ของเรา เป็นต้น
						</p>
					</div>

					<div class="col-10 offset-1 _mgbt-50">
						<h3 class="fs-28 _fw-600 _cl-gray-12 _mgbt-0">เราใช้ข้อมูลของคุณอย่างไร</h3>
						<p class="_mgbt-0 _mgt-25">
							ใช้เพื่อการลงทะเบียนในการเข้าใช้งานฟังก์ชั่นต่างๆบนเว็บไซต์ และเพื่อจัดการกับบัญชีของคุณด้านความปลอดภัย ใช้เพื่อระบุตัวตนของคุณเกี่ยวกับลิขสิทธิ์ของโพสต์ที่คุณสร้างขึ้นและเป็นสิ่งยืนยันว่าคุณคือเจ้าของโพสต์ดังกล่าวนั้น
							เราใช้ข้อมูลของคุณเพื่อวิเคราะห์ความสนใจในคอนเทนต์ต่างๆ เพื่อให้เรานำเสนอสิ่งที่ตรงกับความต้องการของคุณ เราใช้ข้อมูลของคุณในการกำหนดโฆษณาของเรา
							เพื่อให้เราใช้โฆษณาอย่างเหมาะสมและไม่รบกวนคุณจนเกินไป เราใช้ข้อมูลของคุณเพื่อการพัฒนาเว็บไซต์และบริการของเรา โดยการวัดผลทางสถิติ
							เพื่อสร้างสรรค์บริการให้ดีที่สุด
						</p>
					</div>

					<div class="col-10 offset-1 _mgbt-50">
						<h3 class="fs-28 _fw-600 _cl-gray-12 _mgbt-0">ใครสามารถเห็นข้อมูลของคุณได้บ้าง</h3>
						<p class="_mgbt-0 _mgt-25">
							บุคคลภายในบริษัทที่เป็น Business Analytics  Administer และ  Developer ซึ่งได้รับสิทธิ์
							เพียงบางคนเท่านั้นที่สามารถเห็นข้อมูลของคุณ แต่ไม่สามารถกระทำการใดๆกับบัญชีของคุณได้หากไม่ได้รับความ
							ยินยอมหรือคำร้องขอจากทางเจ้าของบัญชีดังกล่าว
							บุคคลที่เป็นผู้ใช้คนอื่นๆ จะสามารถเห็นข้อมูลของคุณเฉพาะส่วนที่เป็นสาธารณะเท่านั้น เช่น รูปโปรไฟล์ ชื่อบัญชีสถานะ โพสต์ต่างๆ โดยข้อมูลที่ใช้เพื่อติดต่อคุณ เช่น ที่อยู่ เบอร์โทรศัพท์ คุณสามารถเลือกที่จะใส่ให้คนอื่นรับทราบหรือจะไม่ใส่ข้อมูลดังกล่าวก็ได้
						</p>
					</div>

					<div class="col-10 offset-1 _mgbt-50">
						<h3 class="fs-28 _fw-600 _cl-gray-12 _mgbt-0">การแบ่งปันข้อมูลภายในเว็บไซต์</h3>
						<p class="_mgbt-0 _mgt-25">
							คุณสามารถสร้างบล็อกภายในเว็บไซต์ของเราและมีสิทธิ์ความเป็นเจ้าของในเนื้อหาต่างๆที่คุณสร้างขึ้น โดยเนื้อหาที่คุณสร้างขึ้นภายในเว็บไซต์จะถูกแบ่งปันให้กับผู้ใช้คนอื่น
							โดยการแบ่งปันข้อมูลดังกล่าวจะมี 2 กรณี คือ
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">1.การแบ่งปันโดยการกดติดตาม</h5>
						<p class="_mgbt-0">
							เกิดได้จากการที่ผู้ใช้คนอื่นๆภายในเว็บไซต์ กดปุ่ม”ติดตาม”หน้าบล๊อกของคุณ ซึ่งเนื้อหาที่คุณสร้างขึ้น ระบบอัตโนมัติของเราจะทำการแชร์ให้ไปปรากฏอยู่ที่หน้าฟีดของผู้ที่ติดตามบล๊อกของคุณเช่นกัน
						</p>

						<h5 class="fs-20 _mgt-25 _cl-gray-12">2.การแบ่งปันโดยการสร้างเนื้อหาสู่สาธารณะโดยตรง</h5>
						<p class="_mgbt-0">
							การแบ่งปันแบบสาธารณะโดยตรง เกิดได้จากการที่เจ้าของบัญชีได้ทำการยืนยันตัวตนกับทางเว็บไซต์ เพื่อทำให้โพสต์ทั้งหมดของตนเองเข้าสู่การแบ่งปันสาธารณะ
							ซึ่งระบบอัตโนมัติจะทำการแบ่งปันโพสต์ของคุณให้เข้าไปอยู่ตามประเภทของการค้นหาโดยมีผลคือผู้ใช้คนอื่นๆสามารถพบโพสต์ของคุณได้จาก”หมวดหมู่”ของสิ่งที่เค้าสนใจ
						</p>
					</div>

					<div class="col-10 offset-1 _mgbt-50">
						<h3 class="fs-28 _fw-600 _cl-gray-12 _mgbt-0">เราปกป้องข้อมูลของคุณอย่างไร</h3>
						<p class="_mgbt-0 _mgt-25">
							ข้อมูลที่เราได้รับจากคุณจะถูกเข้ารหัสในการดำเนินการทุกครั้ง ซึ่งข้อมูลดังกล่าวจะถูกเก็บไว้ภายใต้ความดูแลของบริษัทอย่างเข้มงวด
							โดยบริษัทได้ทำการเลือกผู้ให้บริการด้านข้อมูลที่เชื่อถือได้ ในการจัดการข้อมูลที่สำคัญของคุณ การจำกัดการเข้าถึงข้อมูลของคุณภายในบริษัท
							รหัสผ่านของคุณจะไม่ถูกล่วงรู้โดยบุคคลภายในบริษัท โดยนโยบายของเราคือการห้ามมิให้พนักงานทำการแทรกแซงใดๆกับบัญชีผู้ใช้เป็นอันขาด
							ซึ่งการฝ่าฝืนมีโทษทางกฏหมาย
						</p>
					</div>

					<div class="col-10 offset-1 _mgbt-50">
						<h3 class="fs-28 _fw-600 _cl-gray-12 _mgbt-0">สิทธิ์ในการจัดการข้อมูลของคุณ</h3>
						<p class="_mgbt-0 _mgt-25">
							เราให้สิทธิ์ในการดำเนินการกับข้อมูลต่างๆ เช่น รูปโปรไฟล์ ชื่อ นามสกุล รูปภาพ บทความ บล็อก และข้อมูลที่คุณได้ให้ไว้กับเราทั้งหมดอย่างเต็มที่
							คุณสามารถลบบัญชีผู้ใช้ และเนื้อหาต่างๆที่คุณสร้างขึ้นได้อย่างอิสระ หรือแม้กระทั่งใช้เป็นหลักฐานในการดำเนินคดีกับผู้ซึ่งละเมิดต่อลิขสิทธิ์เกี่ยวกับผลงานของคุณ
							การลบข้อมูลในบัญชีของคุณ ผู้ใช้คนอื่นๆจะไม่สามารถเห็นข้อมูลของคุณได้อีก เพียงแต่ข้อมูลบางส่วนของคุณที่ถูกลบ เราอาจต้องเก็บไว้เป็นช่วงเวลาหนึ่งซึ่งมีผลมาจากการบังคับใช้กฏหมายการจราจรทางคอมพิวเตอร์
						</p>
					</div>

					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<h5 class="fs-20 _mgt-25 _cl-gray-12 _tal-ct">ติดต่อ Support</h5>
						<p class="_mgbt-0 _mgt-25 _tal-ct">

							<br>
						</p>
					</div>
				</div>
			</div>
		</div>
    </div>
{{end}}

{{define "main.style"}}
{{end}}