{{define "page.title"}}เติมเงิน{{end}}

{{define "app-body"}}
	<div class="container-sign _bg-si">

		<div class="container _mgt-50">
			<div class="row">
				<div class="col-sm-12 offset-sm-0 offset-md-1 offset-xl-6 offset-lg-6 col-md-10 col-lg-5 col-xl-5 _dp-f _fdrt-cl">
					<h1 class="_tal-ct _mgt-50 fs-24">วิธีการเติมเงิน</h1>

					<p class="fs-16 _mgbt-5">
						1. แอด Line@
						<a href="https://lin.ee/HwjGoCg">
							<img width="40px" height="40px" src="https://storage.googleapis.com/powerwork-bucket/bet/logo/logo_line.png" alt=""> <<  คลิกเพื่อแอด Line
						</a>
					</p>
					<p class="fs-16 _mgbt-5">
						2. ติดต่อเจ้าหน้าที่เพื่อขอรับเลขบัญชีใหม่ (เลขบัญชีจะเปลี่ยนทุกๆวัน กรุณาขอเจ้าหน้าที่ใหม่ทุกครั้ง)
					</p>
					<p class="fs-16 _mgbt-5">
						3. ส่งเบอร์โทรศัพท์ที่ใช้เล่นกับทางเจ้าหน้าที่
					</p>
					<p class="fs-16 _mgbt-5">
						4. เลือกโปรโมชั่นที่คุณต้องการ
					</p>
					<p class="fs-16 _mgbt-5">
						5. ส่งรูปหลักฐานการโอนเงิน
					</p>
					<p class="fs-16 _mgbt-5">
						6. รอรับ Wallet และ Bonus (ภายใน 5-10 นาที)
					</p>
					<p class="fs-16 _mgbt-5">
						ผู้เล่นต้องการใช้โปรโมชั่น กรุณาบอกทางเจ้าหน้าที่เพื่อรับสิทธิ์ของท่าน
					</p>
					<a class="_mg-at" href="https://lin.ee/HwjGoCg">
						<img width="200px" height="200px" src="https://storage.googleapis.com/powerwork-bucket/bet/logo/logo_line.png" alt="">
					</a>
					<a class="sign-social fs-14 _tal-ct _dp-b _mgt-25" href="{{route "discover"}}">กลับไปหน้าหลัก</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="word _dp-n _dp-b-lg">
				<!-- <h3 class="fs-20 fs-28-lg fs-36-xl">Let's publish your own idea.</h3>
				<h4 class="fs-14 fs-18-xl _cl-gray-6">“มาร่วมสร้างสรรค์ไอเดียและเปิดให้ทุกคนได้รู้จักคุณ”</h3> -->
			</div>
		</div>

	</div>
{{end}}

