{{define "page.title"}}เติมเงิน{{end}}

{{define "app-body"}}
	<div class="container _mgt-20-md">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				<div class="row _fdrt-cl _bgcl-white _bdrd-2px _cl-gray-11 _pdbt-30">
					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<h1 class="fs-28 fs-30-md fs-48-lg _mgt-48 _mgbt-20 _tal-ct _cl-gray-12">วิธีการเติมเงิน</h1>
					</div>
					<div class="w-100"></div>
					<div class="col-10 offset-1 col-md-8 offset-md-2">
						<p class="fs-18 _mgbt-0">
							1. แอด Line@
							<a class="_tal-ct" href="">
								<img width="40px" height="40px" src="https://storage.googleapis.com/powerwork-bucket/bet/logo/logo_line.png" alt="">
							</a>
						</p>
						<p class="fs-18 _mgbt-0">
							2. ติดต่อเจ้าหน้าที่เพื่อขอรับเลขบัญชีใหม่ (เลขบัญชีจะเปลี่ยนทุกๆวัน กรุณาขอเจ้าหน้าที่ใหม่ทุกครั้ง)
						</p>
						<p class="fs-18 _mgbt-0">
							3. ส่งเบอร์โทรศัพท์ที่ใช้เล่นกับทางเจ้าหน้าที่
						</p>
						<p class="fs-18 _mgbt-0">
							4. เลือกโปรโมชั่นที่คุณต้องการ
						</p>
						<p class="fs-18 _mgbt-0">
							5. ส่งรูปหลักฐานการโอนเงิน
						</p>
						<p class="fs-18 _mgbt-0">
							6. รอรับ Wallet และ Bonus (ภายใน 5-10 นาที)
						</p>
						<p class="fs-14 _mgbt-10">
							ผู้เล่นต้องการใช้โปรโมชั่น กรุณาบอกทางเจ้าหน้าที่เพื่อรับสิทธิ์ของท่าน
						</p>
						<div class="_dp-f _tal-ct">
							<a class="_mg-at" href="">
								<img width="200px" height="200px" src="https://storage.googleapis.com/powerwork-bucket/bet/logo/logo_line.png" alt="">
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
    </div>
{{end}}

{{define "main.style"}}
{{end}}