{{define "page.title"}}Hi-lo{{end}}

{{define "app-body"}}


<div class="container _mgt-20-md" id="app">
	{{template "modal-hilo"}}

	<!-- <div id="overlay" class="_tal-ct">
		<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/anime-dice/%E0%B9%80%E0%B8%82%E0%B8%A2%E0%B9%88%E0%B8%B2.gif" alt="">
	</div> -->

	<div id="overlay" class="show-anime _tal-ct">
		<img class="img-fluid anime-bet" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/anime-dice/OpendiceNew.gif" alt="">
	</div>

	<div class="row">
		<div class="col-12 col-lg-8 _mg-at">

			<div class="row _fdrt-cl  _bdrd-2px _cl-gray-11 _pdbt-30" style="background-color: rgba(255, 255, 255, 0.6);">
				<div class="col-12 row _mgt-20 _mgbt-20 container-dice-result">
					<div class="col-8 _dp-f _tal-ct _mg-at">
						<div class="col-4">
							<img class="img-fluid dice-result-1" src="">
						</div>
						<div class="col-4">
							<img class="img-fluid dice-result-2" src="">
						</div>
						<div class="col-4">
							<img class="img-fluid dice-result-3" src="">
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-12 _mg-at _pd-0 row">
					<div class="col-4 top-left-bg _tal-ct newboard">
						<button class="btn btn-success btn-newboard" disabled @click="nextBoard">เริ่มกระดานใหม่</button>
						<span class="fs-18 _cl-gray-10 _fw-700 some-div"></span>
					</div>
					<div class="col-4 _tal-ct total">
						<span class="fs-18 _cl-gray-10 text-total _fw-700">{{.Highlow.Total}}</span>
					</div>
					<div class="col-4 top-right-bg _tal-ct body-takemoney">
						<button class="btn btn-danger btn-takemoney" @click="getMoney">รับเงิน <span class="text-takemoney">{{.HasMoney}}</span> บาท</button>
						<p class="fs-18 _cl-gray-10 text-count _fw-700"></p>
					</div>

				</div>

				<div class="_dp-f">
					<div class="col left-bg hidden-mobile">
						<div class="side-dice _mgt-side-board" @click="openModal('lo')">
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/01.png" alt="1">
							<span class="side-text _tal-r text-l-1">{{.Highlow.Low1}}</span>
						</div>
						<div class="side-dice" @click="openModal('lo')">
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/02.png" alt="2">
							<span class="side-text _tal-r text-l-2">{{.Highlow.Low2}}</span>
						</div>
						<div class="side-dice" @click="openModal('lo')">
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/03.png" alt="3">
							<span class="side-text _tal-r text-l-3">{{.Highlow.Low3}}</span>
						</div>
						<div class="side-dice" @click="openModal('lo')">
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/04.png" alt="4">
							<span class="side-text _tal-r text-l-4">{{.Highlow.Low4}}</span>
						</div>
						<div class="side-dice" @click="openModal('lo')">
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/05.png" alt="5">
							<span class="side-text _tal-r text-l-5">{{.Highlow.Low5}}</span>
						</div>
						<div class="side-dice" @click="openModal('lo')">
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/06.png" alt="6">
							<span class="side-text _tal-r text-l-6">{{.Highlow.Low6}}</span>
						</div>
					</div>

					<div class="col-12 col-md-8 row row-cols-3 _mg-at center-bg overlay">
						<div class="col-4 dice _tal-ct" @click="openModal('one')">
							<img class="img-fluid box" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/01.png" alt="1">

							<div class="hilo-coin n1">
								<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/coin/Coin-200x200.png" alt="1">
								<span class="money text-n1 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N1}}</span>
							</div>

							<div class="size-bank right-dice n12">

								<span class="text-n12 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N12}}</span>
							</div>

							<div class="size-bank left-dice n13">
								<span class="text-n13 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N13}}</span>
							</div>

							<div class="size-bank bottom-dice n14">
								<span class="text-n14 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N14}}</span>
							</div>

							<div class="size-bank right-bottom-dice n15">
								<span class="text-n15 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N15}}</span>
							</div>

							<div class="size-bank left-top-dice n16">
								<span class="text-n16 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N16}}</span>
							</div>

						</div>
						<div class="col-4 dice _tal-ct" @click="openModal('two')">
							<img class="img-fluid box" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/02.png" alt="2">
							<div class="hilo-coin n2">
								<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/coin/Coin-200x200.png" alt="2">
								<span class="money text-n2 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N2}}</span>
							</div>

							<div class="size-bank right-dice n23">
								<span class="text-n23 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N23}}</span>
							</div>

							<div class="size-bank left-bottom-dice n24">
								<span class="text-n24 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N24}}</span>
							</div>

							<div class="size-bank bottom-dice n25">
								<span class="text-n25 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N25}}</span>
							</div>


						</div>
						<div class="col-4 dice _tal-ct" @click="openModal('three')">
							<img class="img-fluid box" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/03.png" alt="3">
							<div class="hilo-coin n3">
								<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/coin/Coin-200x200.png" alt="3">
								<span class="money text-n3 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N3}}</span>
							</div>

							<div class="size-bank right-top-dice n34">
								<span class="text-n34 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N34}}</span>
							</div>

							<div class="size-bank bottom-dice n36">
								<span class="text-n36 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N36}}</span>
							</div>

						</div>
						<div class="col-4 dice _tal-ct" @click="openModal('four')">
							<img class="img-fluid box" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/04.png" alt="4">
							<div class="hilo-coin n4">
								<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/coin/Coin-200x200.png" alt="1">
								<span class="money text-n4 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N4}}</span>
							</div>

							<div class="size-bank right-dice n45">
								<span class="text-n45 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N45}}</span>
							</div>

							<div class="size-bank left-dice n46">
								<span class="text-n46 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N46}}</span>
							</div>

						</div>
						<div class="col-4 dice _tal-ct" @click="openModal('five')">
							<img class="img-fluid box" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/05.png" alt="5">
							<div class="hilo-coin n5">
								<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/coin/Coin-200x200.png" alt="5">
								<span class="money text-n5 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N5}}</span>
							</div>


							<div class="size-bank right-top-dice n35">
								<span class="text-n35 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N35}}</span>
							</div>

							<div class="size-bank right-dice n56">

									<span class="text-n56 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N56}}</span>
							</div>

						</div>
						<div class="col-4 dice _tal-ct" @click="openModal('six')">
							<img class="img-fluid box" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/06.png" alt="6">
							<div class="hilo-coin n6">
								<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/coin/Coin-200x200.png" alt="6">
								<span class="money text-n6 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N6}}</span>
							</div>

							<div class="size-bank left-top-dice n26">
								<span class="text-n26 _cl-gray-11 fs-16 _fw-700">{{.Highlow.N26}}</span>
							</div>
						</div>
					</div>
					<div class="col hidden-mobile hi-bg">

						<div class="side-dice _mgt-side-board" @click="openModal('hi')">
							<span class="side-text _tal-l text-h-1">{{.Highlow.High1}}</span>
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/01.png" alt="1">
						</div>
						<div class="side-dice" @click="openModal('hi')">
							<span class="side-text _tal-l text-h-2">{{.Highlow.High2}}</span>
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/02.png" alt="2">
						</div>
						<div class="side-dice" @click="openModal('hi')">
							<span class="side-text _tal-l text-h-3">{{.Highlow.High3}}</span>
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/03.png" alt="3">
						</div>
						<div class="side-dice" @click="openModal('hi')">
							<span class="side-text _tal-l text-h-4">{{.Highlow.High4}}</span>
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/04.png" alt="4">
						</div>
						<div class="side-dice" @click="openModal('hi')">
							<span class="side-text _tal-l text-h-5">{{.Highlow.High5}}</span>
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/05.png" alt="5">
						</div>
						<div class="side-dice" @click="openModal('hi')">
							<span class="side-text _tal-l text-h-6">{{.Highlow.High6}}</span>
							<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/06.png" alt="6">
						</div>
					</div>

				</div>

				<div class="col-md-8 col-sm-12 _mg-at _pd-0 row">
						<div class="col-4 _mg-0 _pd-0 dice _tal-ct" @click="openModal('hilo')">
							<img class="img-fluid box" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/bottom/B-001.jpg" alt="1">
							<div class="hilo-coin nlo">
								<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/coin/Coin-200x200.png" alt="5">
								<span class="money text-lo _cl-gray-11 fs-16 _fw-700">0</span>
							</div>
						</div>
						<div class="col-4 _mg-0 _pd-0 dice _tal-ct" @click="openModal('hilo')">
							<img class="img-fluid box" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/bottom/B-002.jpg" alt="2">
							<div class="hilo-coin n11">
								<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/coin/Coin-200x200.png" alt="5">
								<span class="money text-n11 _cl-gray-11 fs-16 _fw-700">0</span>
							</div>
						</div>
						<div class="col-4 _mg-0 _pd-0 dice _tal-ct" @click="openModal('hilo')">
							<img class="img-fluid box" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/bottom/B-003.jpg" alt="3">
							<div class="hilo-coin nhi">
								<img class="img-fluid" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/coin/Coin-200x200.png" alt="5">
								<span class="money text-hi _cl-gray-11 fs-16 _fw-700">0</span>
							</div>
						</div>
				</div>

				<div class="row board-mobile col-sm-12 _mg-at _pd-0">
					<div class="col-6 low-side-bg">
							<div class="side-dice _mgt-side-board-mobile" @click="openModal('lo')">
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/01.png" alt="1">
								<span class="side-text _tal-r text-l-1">{{.Highlow.Low1}}</span>
							</div>
							<div class="side-dice" @click="openModal('lo')">
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/02.png" alt="2">
								<span class="side-text _tal-r text-l-2">{{.Highlow.Low2}}</span>
							</div>
							<div class="side-dice" @click="openModal('lo')">
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/03.png" alt="3">
								<span class="side-text _tal-r text-l-3">{{.Highlow.Low3}}</span>
							</div>
							<div class="side-dice" @click="openModal('lo')">
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/04.png" alt="4">
								<span class="side-text _tal-r text-l-4">{{.Highlow.Low4}}</span>
							</div>
							<div class="side-dice" @click="openModal('lo')">
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/05.png" alt="5">
								<span class="side-text _tal-r text-l-5">{{.Highlow.Low5}}</span>
							</div>
							<div class="side-dice" @click="openModal('lo')">
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/06.png" alt="6">
								<span class="side-text _tal-r text-l-6">{{.Highlow.Low6}}</span>
							</div>
					</div>
					<div class="col-6 hi-side-bg">
							<div class="side-dice _mgt-side-board-mobile" @click="openModal('hi')">
								<span class="side-text _tal-l text-h-1">{{.Highlow.High1}}</span>
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/01.png" alt="1">
							</div>
							<div class="side-dice" @click="openModal('hi')">
								<span class="side-text _tal-l text-h-2">{{.Highlow.High2}}</span>
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/02.png" alt="2">
							</div>
							<div class="side-dice" @click="openModal('hi')">
								<span class="side-text _tal-l text-h-3">{{.Highlow.High3}}</span>
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/03.png" alt="3">
							</div>
							<div class="side-dice" @click="openModal('hi')">
								<span class="side-text _tal-l text-h-4">{{.Highlow.High4}}</span>
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/04.png" alt="4">
							</div>
							<div class="side-dice" @click="openModal('hi')">
								<span class="side-text _tal-l text-h-5">{{.Highlow.High5}}</span>
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/05.png" alt="5">
							</div>
							<div class="side-dice" @click="openModal('hi')">
								<span class="side-text _tal-l text-h-6">{{.Highlow.High6}}</span>
								<img class="icon-right" src="https://storage.googleapis.com/powerwork-bucket/hi-lo/dice-new/icon/06.png" alt="6">
							</div>
					</div>
				</div>

				<div class="row _mgt-20">
						<div class="col-12">
								<div>
									<h2 class="_tal-ct _mgt-20 _mgbt-20 fs-20 fs-30-md">รายการของคุณ</h2>
									<table class="_mg-at col-10 table _tal-ct" cellspacing="0">
										<tr>
											<th class="fs-10 fs-18-md _pd-5">ราคา</th>
											<th class="fs-10 fs-18-md _pd-5">ได้ / เสีย</th>
											<th class="fs-10 fs-18-md _pd-5">แทง</th>
											<th class="fs-10 fs-18-md _pd-5">ได้รับเงิน</th>
										</tr>

										{{range .ListMyBet}}
										<tr>
											<!-- <td class="fs-10 fs-18-md">{{$.User.FirstName}} {{$.User.LastName}}</td> -->
											<td class="fs-10 fs-18-md">{{.Price}}</td>
										{{if eq $.Highlow.Status false}}
												<td class="fs-10 fs-18-md">รอผลลัพธ์...</td>
										{{else if eq $.Highlow.Status true}}
											{{if eq .Status true}}
												<td class="fs-10 fs-18-md _cl-positive">ชนะ</td>
												{{else}}
												<td class="fs-10 fs-18-md _cl-negative">แพ้</td>
											{{end}}
										{{end}}
											<td class="fs-10 fs-18-md">{{.BetString}}</td>
										{{if eq $.Highlow.Status false}}
										<td class="fs-10 fs-18-md">รอผลลัพธ์...</td>
										{{else if eq $.Highlow.Status true}}
										<td class="fs-10 fs-18-md">{{.Total}}</td>
										{{end}}
										</tr>
										{{end}}
									</table>
								</div>
						</div>

						<div class="col-12">
								<div>
									<h2 class="_tal-ct _mgt-20 _mgbt-20 fs-20 fs-30-md">รายการทั้งหมด</h2>
									<table class="_mg-at col-10 table _tal-ct" cellspacing="0">
										<tr>
											<th class="fs-10 fs-18-md _pd-5">username</th>
											<th class="fs-10 fs-18-md _pd-5">ราคา</th>
											<th class="fs-10 fs-18-md _pd-5">แทง</th>
										</tr>
										{{range .ListUser}}
										<tr>
											<td class="fs-10 fs-18-md">{{.FirstName}} {{.LastName}}</td>
											<td class="fs-10 fs-18-md">{{.Price}}</td>
											<td class="fs-10 fs-18-md">{{.BetString}}</td>
										</tr>
										{{end}}
									</table>
								</div>
						</div>
				</div>

			</div>
		</div>

	</div>
</div>
{{end}}

{{define "main.style"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.min.css">

{{end}}

{{define "main.script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/owl.carousel.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

{{end}}
